In [1]:
import pandas as pd

# Inicio de exploracion para el catalogo de datos

## First file: Cuestionario_Alumnos1

The first file called Cuestionario_Alumnos1.txt have 61 columns, but only 14 are of numerical type, and the rest are string

In [49]:
PERCE_Cuestionario_Alumn = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/Cuestionarios_Alumnos1.txt", delimiter=";", nrows=20)

In [70]:
print("Columns found: ", PERCE_Cuestionario_Alumn.shape[1])

Columns found:  61

### Functions 

I create a list called N to have a numerical way of the letters, taking into account that the new characters doesn't be repeated in any other column of the table.

Then...

I made a function that change the string type to an integer type automatically

In [1]:
def letters_to_num(obj):
    L = ["N", "S", "A", "B", "C", "D", "E", "F", "G", "H"]
    N = [-1, -2, -10, -11, -12, -13, -14, -15, -16, -17]
    x = obj.replace(L, N)
    return x

Then, i create a function that tell me how many columns are in the describe() of the pandas object

In [2]:
def shape_cols(obj):
    print("Columns found: ", obj.describe().shape[1])

#### Now, we have 52 columns

In [71]:
PERCE_Cuestionario_Alumn1 = letters_to_num(PERCE_Cuestionario_Alumn)

In [72]:
shape_cols(PERCE_Cuestionario_Alumn1)

Columns found:  52

In [60]:
PERCE_Cuestionario_Alumn1.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,Paralelo,NoLista,Alu1,Alu1x1,...,Alu15x1,Alu15x2,Alu15x3,Alu15x4,Alu15x5,Alu15x6,Alu15x7,Alu16,Alu17,Alu18
count,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.00000,20.000000,20.000000,...,20.000000,20.0,20.0,20.000000,20.000000,20.0,20.0,20.000000,20.000000,20.000000
mean,11.0,1.0,5.0,5.0,5.0,3.0,-10.0,10.50000,9.650000,-12.650000,...,-1.750000,-1.0,-1.0,-1.100000,-1.150000,-1.0,-1.0,-12.250000,-10.050000,-10.800000
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.91608,1.308877,1.308877,...,0.444262,0.0,0.0,0.307794,0.366348,0.0,0.0,1.482352,0.223607,0.410391
min,11.0,1.0,5.0,5.0,5.0,3.0,-10.0,1.00000,8.000000,-16.000000,...,-2.000000,-1.0,-1.0,-2.000000,-2.000000,-1.0,-1.0,-14.000000,-11.000000,-11.000000
25%,11.0,1.0,5.0,5.0,5.0,3.0,-10.0,5.75000,9.000000,-13.000000,...,-2.000000,-1.0,-1.0,-1.000000,-1.000000,-1.0,-1.0,-14.000000,-10.000000,-11.000000
50%,11.0,1.0,5.0,5.0,5.0,3.0,-10.0,10.50000,9.000000,-12.000000,...,-2.000000,-1.0,-1.0,-1.000000,-1.000000,-1.0,-1.0,-11.000000,-10.000000,-11.000000
75%,11.0,1.0,5.0,5.0,5.0,3.0,-10.0,15.25000,10.000000,-12.000000,...,-1.750000,-1.0,-1.0,-1.000000,-1.000000,-1.0,-1.0,-11.000000,-10.000000,-11.000000
max,11.0,1.0,5.0,5.0,5.0,3.0,-10.0,20.00000,13.000000,-11.000000,...,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-1.0,-1.0,-11.000000,-10.000000,-10.000000

______________________________________________________________________________

## Second File: Cuestionario_Directores
having a problem with new characters like # and & ...thinking on it

In [61]:
PERCE_Cuestionario_Directores = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/Cuestionarios_Directores.txt", delimiter=";")

In [79]:
PERCE_Cuestionario_Directores.iloc[1]

Pais        22
Escuela      2
Estrato      3
Estrato2     3
Estrato3     2
Di1         53
Di1x1        E
Di2          A
Di3x1        S
Di3x2        8
Di3x2x1      H
Di3x3        C
Di4          A
Di5x1       10
Di5x1x1      B
Di5x2        0
Di5x2x1      A
Di5x3       20
Di5x3x1      D
Di6x1        0
Di6x1x1      A
Di6x2        0
Di6x2x1      A
Di6x3        2
Di6x3x1      C
Di7          B
Di8          N
Di9x1        S
Di9x2        C
Di10         C
            ..
Di35x2       S
Di35x3       S
Di36x1       A
Di36x2       B
Di36x3       F
Di37x1       S
Di37x2       S
Di37x3       S
Di38         S
Di39         N
Di40         N
Di41x1       #
Di41x2       #
Di41x3       #
Di42         D
Di43         S
Di44x1       A
Di44x2       C
Di44x3       C
Di44x4       C
Di45x1       #
Di45x2       S
Di45x3       S
Di46         A
Di47         #
Di48x1       A
Di48x2       A
Di48x3       A
Di49         #
Di50         B
Name: 1, Length: 162, dtype: object

In [73]:
shape_cols(PERCE_Cuestionario_Directores)

Columns found:  22

In [75]:
PERCE_Cuestionario_Directores1 = letters_to_num(PERCE_Cuestionario_Directores)

In [76]:
shape_cols(PERCE_Cuestionario_Directores1)

Columns found:  22

In [65]:
PERCE_Cuestionario_Directores1.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Di1,Di3x2,Di5x1,Di5x2,Di5x3,...,Di6x3,Di11,Di12,Di14x1,Di14x2,Di14x3,Di14x4,Di14x5,Di14x6,Di14x7
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1374.000000,1268.000000,1326.000000,1026.000000,1319.000000,...,1195.000000,1319.000000,1374.000000,1333.000000,1325.000000,1247.000000,1309.000000,1279.000000,1184.000000,1194.000000
mean,17.090909,153.140693,3.521645,3.311688,3.487013,44.141921,9.154574,13.849170,8.348928,7.703563,...,4.013389,5.956027,34.110626,12.726182,7.225660,2.602245,3.998472,2.987490,7.521959,4.906198
std,4.861589,172.388843,1.351520,1.458289,1.353233,14.681551,57.012023,8.356303,15.658274,11.268859,...,5.073974,6.167333,17.386343,17.331797,8.158065,4.879340,5.535816,5.274158,11.497342,6.824927
min,10.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,43.000000,3.000000,3.000000,2.000000,37.250000,3.000000,8.000000,0.000000,2.000000,...,1.000000,2.000000,25.000000,4.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000
50%,16.000000,87.000000,3.000000,3.000000,4.000000,45.000000,5.000000,13.000000,4.000000,5.000000,...,2.000000,4.000000,40.000000,10.000000,5.000000,2.000000,3.000000,2.000000,2.000000,3.000000
75%,22.000000,173.750000,5.000000,5.000000,5.000000,51.000000,7.000000,20.000000,10.000000,9.000000,...,5.000000,8.000000,44.000000,18.000000,10.000000,3.000000,5.000000,3.000000,10.000000,6.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,401.000000,1981.000000,47.000000,99.000000,99.000000,...,36.000000,67.000000,225.000000,502.000000,120.000000,60.000000,60.000000,60.000000,120.000000,96.000000

______________________________

In [44]:
PERCE_Cuestionario_Directores = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/Cuestionarios_Directores.txt", delimiter=";")

In [45]:
PERCE_Cuestionario_Directores.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Di1,Di3x2,Di5x1,Di5x2,Di5x3,...,Di6x3,Di11,Di12,Di14x1,Di14x2,Di14x3,Di14x4,Di14x5,Di14x6,Di14x7
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1374.000000,1268.000000,1326.000000,1026.000000,1319.000000,...,1195.000000,1319.000000,1374.000000,1333.000000,1325.000000,1247.000000,1309.000000,1279.000000,1184.000000,1194.000000
mean,17.090909,153.140693,3.521645,3.311688,3.487013,44.141921,9.154574,13.849170,8.348928,7.703563,...,4.013389,5.956027,34.110626,12.726182,7.225660,2.602245,3.998472,2.987490,7.521959,4.906198
std,4.861589,172.388843,1.351520,1.458289,1.353233,14.681551,57.012023,8.356303,15.658274,11.268859,...,5.073974,6.167333,17.386343,17.331797,8.158065,4.879340,5.535816,5.274158,11.497342,6.824927
min,10.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,43.000000,3.000000,3.000000,2.000000,37.250000,3.000000,8.000000,0.000000,2.000000,...,1.000000,2.000000,25.000000,4.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000
50%,16.000000,87.000000,3.000000,3.000000,4.000000,45.000000,5.000000,13.000000,4.000000,5.000000,...,2.000000,4.000000,40.000000,10.000000,5.000000,2.000000,3.000000,2.000000,2.000000,3.000000
75%,22.000000,173.750000,5.000000,5.000000,5.000000,51.000000,7.000000,20.000000,10.000000,9.000000,...,5.000000,8.000000,44.000000,18.000000,10.000000,3.000000,5.000000,3.000000,10.000000,6.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,401.000000,1981.000000,47.000000,99.000000,99.000000,...,36.000000,67.000000,225.000000,502.000000,120.000000,60.000000,60.000000,60.000000,120.000000,96.000000

In [19]:
PERCE_Cuestionario_Tutores = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/Cuestionarios_Tutores.txt", delimiter=";")

In [46]:
PERCE_Cuestionario_Tutores.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Tut5x1
count,41088.000000,41088.000000,41088.000000,41088.000000,41088.000000,41088.000000,41088.000000,39221.000000
mean,17.027721,144.990800,3.347863,3.116238,3.336278,3.492699,230.090756,2.946304
std,5.040888,173.911814,1.358482,1.442962,1.326646,0.499953,906.662079,1.766341
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,0.000000
25%,13.000000,36.000000,3.000000,3.000000,2.000000,3.000000,7.000000,1.000000
50%,16.000000,77.000000,3.000000,3.000000,4.000000,3.000000,15.000000,3.000000
75%,22.000000,143.000000,5.000000,5.000000,5.000000,4.000000,25.000000,4.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,8009.000000,6.000000

In [20]:
PERCE_Fichas_Establecimientos = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/Fichas_Establecimientos.txt", delimiter=";")

In [47]:
PERCE_Fichas_Establecimientos.describe()

,PAIS,ESCUELA,ESTRATO,ESTRATO2,ESTRATO3,RES6,RES10X1,RES10X2,RES11,RES14,...,RES16X31,RES16X32,RES16X33,RES16X41,RES16X42,RES16X43,RES17,RES18,RES19,RES20
count,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000,1416.000000,1217.000000,1198.000000,1412.000000,1205.000000,...,799.000000,791.000000,809.000000,764.000000,761.000000,777.000000,1313.000000,1423.000000,1417.000000,1280.000000
mean,17.562997,140.431698,3.507294,3.295756,3.475464,46.491525,2126.907149,4184.098497,13.851983,1350.589212,...,3.460576,2.666245,4.545117,0.655759,0.618922,1.225225,22.159177,519.905130,426.502470,459.216406
std,5.059894,162.112620,1.353047,1.459039,1.351863,20.591430,4377.444352,5737.396960,11.525465,2737.752315,...,15.750821,8.091556,12.278866,2.920184,3.152586,5.561927,54.059036,542.584402,507.026251,501.060783
min,10.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,39.000000,3.000000,3.000000,2.000000,45.000000,120.000000,279.000000,6.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,165.000000,135.000000,124.500000
50%,16.000000,82.000000,3.000000,3.000000,4.000000,45.000000,600.000000,1829.000000,12.000000,300.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,382.000000,310.000000,330.000000
75%,22.000000,139.250000,5.000000,5.000000,5.000000,50.000000,1867.000000,5914.250000,18.000000,1500.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,698.500000,587.000000,649.000000
max,25.000000,633.000000,5.000000,5.000000,5.000000,300.000000,32410.000000,32176.000000,100.000000,31946.000000,...,311.000000,71.000000,151.000000,54.000000,52.000000,106.000000,1731.000000,6026.000000,11254.000000,6026.000000

In [25]:
PERCE_LeAlTu = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/LeAlTu.txt", delimiter = ";")

In [48]:
PERCE_LeAlTu.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje,Alu1,Alu4x1,Alu4x2,Alu4x3,Alu4x4,Alu4x5,Alu4
count,51792.000000,51792.000000,51792.000000,51792.000000,51792.000000,51792.000000,51792.000000,51792.000000,36546.000000,43508.000000,43508.000000,43508.000000,43508.000000,43508.000000,43508.000000
mean,17.375270,152.595922,3.323255,3.100711,3.319335,3.492161,15.526355,11.991775,9.662973,0.681760,0.286614,0.602073,0.699756,0.177944,2.448147
std,5.224308,176.213496,1.371856,1.455954,1.331280,0.499943,18.687130,4.467135,1.633801,0.465799,0.452185,0.489476,0.458369,0.382470,1.420134
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,38.000000,3.000000,3.000000,2.000000,3.000000,7.000000,9.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,16.000000,83.000000,3.000000,3.000000,4.000000,3.000000,14.000000,12.000000,9.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000
75%,22.000000,177.000000,5.000000,5.000000,5.000000,4.000000,22.000000,16.000000,10.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,3535.000000,19.000000,80.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000

In [26]:
PERCE_LeDiEs = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/LeDiEs.txt", delimiter = ";")

/home/aron/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (171,183) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
PERCE_LeDiEs.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje,Di1,Di3x2,...,RES16X31,RES16X32,RES16X33,RES16X41,RES16X42,RES16X43,RES17,RES18,RES19,RES20
count,52203.000000,52203.000000,52203.000000,52203.000000,52203.000000,52203.000000,52203.000000,52203.000000,47314.000000,44305.000000,...,29523.000000,29305.000000,29999.000000,28158.000000,28089.000000,28636.000000,44545.000000,48830.000000,48751.000000,44147.000000
mean,17.331322,152.832864,3.325345,3.103174,3.315844,3.492271,15.509913,12.004444,45.280657,10.671753,...,3.536057,2.505102,4.418547,0.637155,0.545979,1.179529,24.285644,570.008396,463.112223,485.006592
std,5.239455,176.390862,1.367862,1.451569,1.331082,0.499945,18.628521,4.460184,15.211737,61.694366,...,16.120358,7.738891,11.863547,2.990970,2.938482,5.600232,56.413616,546.946963,422.021108,514.871585
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,38.000000,3.000000,3.000000,2.000000,3.000000,7.000000,9.000000,39.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,220.000000,183.000000,143.000000
50%,16.000000,83.000000,3.000000,3.000000,4.000000,3.000000,14.000000,12.000000,45.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,432.000000,370.000000,357.000000
75%,22.000000,175.000000,5.000000,5.000000,5.000000,4.000000,22.000000,16.000000,52.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,746.000000,630.000000,667.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,3535.000000,19.000000,401.000000,1981.000000,...,311.000000,71.000000,151.000000,54.000000,52.000000,106.000000,1731.000000,6026.000000,4183.000000,6026.000000

In [29]:
PERCE_LeMa = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/LeMa.txt", delimiter = ";")

In [50]:
PERCE_LeMa.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje,Ma1,Ma3x2,...,Ma12x6,Ma14x1,Ma14x2,Ma14x3,Ma15,Ma22,Ma23,Ma23x1,Ma24,Ma24x1
count,51959.000000,51959.000000,51959.000000,51959.000000,51959.000000,51959.000000,51959.000000,51959.000000,39714.000000,36417.000000,...,37312.000000,40501.000000,40501.000000,40501.000000,34399.000000,35676.000000,39516.000000,35178.000000,39461.000000,35064.000000
mean,17.376759,153.494371,3.323678,3.099886,3.321792,3.492484,15.514733,11.995477,37.159742,6.508142,...,1.923108,30.997086,15.256487,15.230167,96.275444,49.922245,6.977123,375.335920,6.202554,318.225816
std,5.223601,176.960902,1.372137,1.456542,1.330674,0.499948,18.663316,4.465521,10.483892,11.697432,...,8.505407,12.308601,7.628011,9.562807,73.251976,22.456957,9.270815,1341.623791,8.293223,614.779645
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,38.000000,3.000000,3.000000,2.000000,3.000000,7.000000,9.000000,30.000000,3.000000,...,0.000000,24.000000,11.000000,10.000000,100.000000,45.000000,5.000000,225.000000,5.000000,225.000000
50%,16.000000,83.000000,3.000000,3.000000,4.000000,3.000000,14.000000,12.000000,36.000000,4.000000,...,1.000000,31.000000,15.000000,15.000000,100.000000,45.000000,6.000000,270.000000,5.000000,240.000000
75%,22.000000,180.000000,5.000000,5.000000,5.000000,4.000000,22.000000,16.000000,44.000000,6.000000,...,2.000000,38.000000,20.000000,19.000000,100.000000,50.000000,8.000000,405.000000,6.000000,315.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,3535.000000,19.000000,120.000000,99.000000,...,400.000000,172.000000,121.000000,164.000000,1400.000000,458.000000,240.000000,57600.000000,320.000000,25600.000000

In [51]:
PERCE_LenEscala = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/LenEscala.txt", delimiter = ";")

In [52]:
PERCE_LenEscala.describe()

       Forma A Puntaje A Escala A Forma B Puntaje B Escala B
count       20        20       20      20        20       20
unique       1        20       20       1        20       20
top          A      7,00   349,00       B      7,00   221,00
freq        20         1        1      20         1        1

In [31]:
PERCE_LenRasch = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/LenRasch.txt", delimiter = ";")

In [53]:
PERCE_LenRasch.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje
count,63487.000000,63487.000000,63487.000000,51725.000000,51725.000000,63487.000000,63017.00000,63487.000000
mean,18.978673,149.416810,3.258462,3.101034,3.320271,3.493077,2768.42141,11.721943
std,5.781618,164.575177,1.368867,1.456321,1.331306,0.499956,7457.28777,4.494261
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.00000,0.000000
25%,13.000000,38.000000,2.000000,3.000000,2.000000,3.000000,8.00000,8.000000
50%,21.000000,84.000000,3.000000,3.000000,4.000000,3.000000,17.00000,12.000000
75%,24.000000,211.000000,5.000000,5.000000,5.000000,4.000000,32.00000,15.000000
max,26.000000,644.000000,5.000000,5.000000,5.000000,4.000000,32767.00000,19.000000

In [32]:
PERCE_LenTotPeso = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/LenTotPeso.txt", delimiter = ";")

In [54]:
PERCE_LenTotPeso.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel
count,64579.000000,64579.000000,64579.000000,54589.000000,54589.000000,64579.000000
mean,18.609563,144.926029,3.288530,3.129513,3.329663,3.495641
std,5.663472,164.123919,1.359894,1.438770,1.330803,0.499985
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000
25%,13.000000,35.000000,3.000000,3.000000,2.000000,3.000000
50%,20.000000,80.000000,3.000000,3.000000,4.000000,3.000000
75%,24.000000,207.000000,5.000000,5.000000,5.000000,4.000000
max,26.000000,644.000000,5.000000,5.000000,5.000000,4.000000

In [33]:
PERCE_MaAlTu = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/MaAlTu.txt", delimiter = ";")

In [55]:
PERCE_MaAlTu.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje,Alu1,Alu3x1,Alu4x1,Alu4x2,Alu4x3,Alu4x4,Alu4x5,Alu4
count,51809.000000,51809.000000,51809.000000,51809.000000,51809.000000,51809.000000,51809.000000,51809.00000,35853.000000,41457.000000,42805.000000,42805.000000,42805.000000,42805.000000,42805.000000,42805.000000
mean,17.373082,152.823718,3.321855,3.098477,3.320890,3.495647,15.523654,15.81453,9.699356,1.541260,0.682864,0.287630,0.602617,0.700128,0.184137,2.457376
std,5.226520,176.327576,1.372953,1.457536,1.330863,0.499986,20.611713,6.87485,1.667616,0.808396,0.465366,0.452663,0.489362,0.458207,0.387601,1.422609
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,38.000000,3.000000,3.000000,2.000000,3.000000,7.000000,11.00000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,16.000000,83.000000,3.000000,3.000000,4.000000,3.000000,14.000000,15.00000,9.000000,2.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000
75%,22.000000,178.000000,5.000000,5.000000,5.000000,4.000000,22.000000,21.00000,10.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,4040.000000,32.00000,80.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000

In [34]:
PERCE_MaDiEs = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/MaDiEs.txt", delimiter = ";")

/home/aron/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (171) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
PERCE_MaDiEs.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje,Di1,Di3x2,...,RES16X31,RES16X32,RES16X33,RES16X41,RES16X42,RES16X43,RES17,RES18,RES19,RES20
count,52219.000000,52219.000000,52219.000000,52219.000000,52219.000000,52219.000000,52219.000000,52219.000000,47249.000000,44196.000000,...,29551.000000,29371.000000,30013.000000,28117.000000,28071.000000,28612.000000,44512.000000,48847.000000,48734.000000,44012.000000
mean,17.329095,153.050365,3.323924,3.100921,3.317356,3.495739,15.507344,15.826691,45.326906,10.717259,...,3.515448,2.522386,4.430247,0.633638,0.545901,1.172026,24.296572,572.919524,465.056839,486.368059
std,5.241645,176.494760,1.368950,1.453139,1.330665,0.499987,20.544306,6.861883,15.178048,61.755285,...,15.961816,7.768260,11.862783,2.986413,2.966783,5.600775,56.009396,558.364070,431.870632,525.078969
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,38.000000,3.000000,3.000000,2.000000,3.000000,7.000000,11.000000,39.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,219.000000,182.000000,142.000000
50%,16.000000,83.000000,3.000000,3.000000,4.000000,3.000000,14.000000,15.000000,45.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,430.000000,370.000000,357.000000
75%,22.000000,178.000000,5.000000,5.000000,5.000000,4.000000,22.000000,21.000000,52.000000,7.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,746.500000,633.000000,667.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,4040.000000,32.000000,401.000000,1981.000000,...,311.000000,71.000000,151.000000,54.000000,52.000000,106.000000,1731.000000,6026.000000,4183.000000,6026.000000

In [35]:
PERCE_MaMa = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/MaMa.txt", delimiter = ";")

In [57]:
PERCE_MaMa.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje,Ma1,Ma3x2,...,Ma12x6,Ma14x1,Ma14x2,Ma14x3,Ma15,Ma22,Ma23,Ma23x1,Ma24,Ma24x1
count,51935.000000,51935.000000,51935.000000,51935.000000,51935.000000,51935.000000,51935.000000,51935.000000,39566.000000,36247.000000,...,37148.000000,40339.000000,40339.000000,40339.000000,34102.000000,35363.000000,39353.000000,34880.000000,39320.000000,34785.000000
mean,17.371715,153.424627,3.323327,3.099316,3.322807,3.495985,15.515741,15.814268,37.062832,6.549949,...,1.937709,30.822802,15.148194,15.163142,96.301742,49.828154,6.982771,372.386554,6.197686,317.080494
std,5.226876,176.827802,1.373241,1.457500,1.330645,0.499989,20.591287,6.870404,10.500853,11.719580,...,9.155206,12.038454,7.586384,9.235091,73.009157,22.467340,9.125907,1273.922366,8.228455,611.451279
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,38.000000,3.000000,3.000000,2.000000,3.000000,7.000000,11.000000,30.000000,3.000000,...,0.000000,24.000000,11.000000,10.000000,100.000000,45.000000,5.000000,225.000000,5.000000,225.000000
50%,16.000000,83.000000,3.000000,3.000000,4.000000,3.000000,14.000000,15.000000,36.000000,4.000000,...,1.000000,31.000000,15.000000,15.000000,100.000000,45.000000,6.000000,270.000000,5.000000,240.000000
75%,22.000000,182.000000,5.000000,5.000000,5.000000,4.000000,22.000000,21.000000,44.000000,6.000000,...,2.000000,38.000000,20.000000,19.000000,100.000000,50.000000,8.000000,405.000000,6.000000,315.000000
max,25.000000,644.000000,5.000000,5.000000,5.000000,4.000000,4040.000000,32.000000,120.000000,99.000000,...,400.000000,172.000000,121.000000,164.000000,1400.000000,458.000000,240.000000,57600.000000,320.000000,25600.000000

In [36]:
PERCE_MatEscala = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/MatEscala.txt", delimiter = ";")

In [58]:
PERCE_MatEscala.describe()

       Forma A Puntaje A Escala A Forma B Puntaje B Escala B
count       33        33       33      33        33       33
unique       1        33       33       1        33       33
top          A     14,00   145,00       B     14,00   145,00
freq        33         1        1      33         1        1

In [37]:
PERCE_MatRasch = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/MatRasch.txt", delimiter = ";")

In [59]:
PERCE_MatRasch.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel,NoLista,Puntaje
count,63503.000000,63503.000000,63503.000000,51742.000000,51742.000000,63503.00000,63034.000000,63503.000000
mean,18.976348,149.596429,3.256035,3.098798,3.321828,3.49626,2769.748580,15.292364
std,5.783639,164.677597,1.370697,1.457906,1.330888,0.49999,7456.556487,6.769806
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.00000,0.000000,0.000000
25%,13.000000,38.000000,2.000000,3.000000,2.000000,3.00000,8.000000,10.000000
50%,21.000000,84.000000,3.000000,3.000000,4.000000,3.00000,17.000000,14.000000
75%,24.000000,211.000000,5.000000,5.000000,5.000000,4.00000,32.000000,20.000000
max,26.000000,644.000000,5.000000,5.000000,5.000000,4.00000,32767.000000,32.000000

In [38]:
PERCE_MatTotPeso = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/MatTotPeso.txt", delimiter = ";")

In [60]:
PERCE_MatTotPeso.describe()

,Pais,Escuela,Estrato,Estrato2,Estrato3,Nivel
count,61020.000000,61020.000000,61020.000000,54417.000000,54417.000000,61020.000000
mean,18.208325,145.654392,3.299590,3.124961,3.331422,3.504572
std,5.544806,167.311265,1.364748,1.441080,1.329857,0.499983
min,10.000000,1.000000,1.000000,1.000000,2.000000,3.000000
25%,13.000000,36.000000,3.000000,3.000000,2.000000,3.000000
50%,20.000000,79.000000,3.000000,3.000000,4.000000,4.000000
75%,23.000000,203.000000,5.000000,5.000000,5.000000,4.000000
max,26.000000,644.000000,5.000000,5.000000,5.000000,4.000000

Error:

In [ ]:
PERCE_TPesosDef = pd.read_csv("DatosFTPICFES/I-PERCE/PERCE/Tabladepesosdefinitiva.txt", delimiter = ";")