# SABER 3-5-9

Datos separados por año, y cada año separado entre datos censales y de muestra. los datos censales divididos a su vez en complementarios, establecimientos, municipios y sedes

In [1]:
import pandas as pd
%run -i ../tools/functions.py

## Datos Censales

### Establecimientos

Todas las columnas de todos los archivos son numericas.

In [3]:
Sci_5_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_CIENCIAS_5_COMPLETO.txt", delimiter = "|")

In [4]:
print("File Shape", Sci_5_Completo.shape)
print(shape_cols(Sci_5_Completo))
Sci_5_Completo.describe()

File Shape (10960, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.096000e+04,10960.000000,10960.000000,10926.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000,10960.000000
mean,2.436063e+11,65.974179,32.984854,0.232656,71.810871,311.529562,13.942484,69.775639,17.883668,44.794069,22.918978,14.590785
std,9.089559e+10,65.361888,32.628270,0.459886,73.369448,57.167013,6.457780,14.327098,17.325888,16.655443,13.072827,17.972639
min,1.050010e+11,7.000000,6.000000,0.000000,7.999980,100.000000,3.061000,25.000000,0.000000,0.000000,0.000000,0.000000
25%,1.700010e+11,22.000000,11.000000,0.000000,24.000000,273.000000,8.929000,61.000000,4.000000,36.000000,13.000000,2.000000
50%,2.445600e+11,41.000000,20.000000,0.000000,43.999990,306.000000,12.806000,69.000000,13.000000,48.000000,23.000000,8.000000
75%,3.110011e+11,86.000000,43.000000,0.000000,92.546332,345.000000,17.704000,77.000000,26.000000,56.000000,32.000000,20.000000
max,8.475510e+11,626.000000,312.000000,2.000000,1027.999280,500.000000,66.173000,224.000000,100.000000,93.000000,80.000000,100.000000

In [5]:
Sci_5_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_CIENCIAS_5_SIMPLIFICADO.txt", delimiter = "|")

In [6]:
print("File Shape", Sci_5_Simp.shape)
print(shape_cols(Sci_5_Simp))
Sci_5_Simp.describe()

File Shape (4808, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4.808000e+03,4808.000000,4808.000000,4754.00000,4808.000000,4808.000000,4808.000000,4808.000000,4808.000000
mean,2.678957e+11,5.551373,2.778702,0.04796,6.074795,0.351498,1.101705,0.680948,0.540557
std,7.502705e+10,3.392723,1.612731,0.23969,3.460385,0.718557,1.104039,0.850919,0.895182
min,1.050040e+11,1.000000,1.000000,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.056070e+11,3.000000,2.000000,0.00000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,2.522735e+11,5.000000,2.000000,0.00000,6.000000,0.000000,1.000000,0.000000,0.000000
75%,3.130010e+11,8.000000,4.000000,0.00000,8.000000,0.000000,2.000000,1.000000,1.000000
max,8.548740e+11,48.000000,25.000000,2.00000,30.000000,5.000000,5.000000,4.000000,5.000000

In [7]:
Sci_9_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_CIENCIAS_9_COMPLETO.txt", delimiter = "|")

In [8]:
print("File Shape", Sci_9_Completo.shape)
print(shape_cols(Sci_9_Completo))
Sci_9_Completo.describe()

File Shape (8490, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,8.490000e+03,8490.000000,8490.000000,8470.000000,8490.000000,8490.000000,8490.000000,8490.000000,8490.000000,8490.000000,8490.000000,8490.000000
mean,2.322954e+11,66.128740,33.068080,0.281110,72.835933,312.659246,13.702868,68.886101,13.019081,47.234747,28.744052,11.171378
std,9.335049e+10,61.977918,30.961953,0.451664,69.876404,59.720521,5.986706,13.216577,13.881187,18.388656,15.733381,17.100569
min,1.050010e+11,8.000000,6.000000,0.000000,8.000000,121.000000,3.265310,24.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500060e+11,24.000000,12.000000,0.000000,26.000040,272.000000,9.132650,61.000000,3.000000,38.000000,16.000000,0.000000
50%,2.234170e+11,45.000000,22.000000,0.000000,48.999930,305.000000,12.551020,69.000000,9.000000,51.000000,29.000000,5.000000
75%,3.110010e+11,85.000000,43.000000,1.000000,93.999990,344.000000,17.142860,77.000000,19.000000,60.000000,40.000000,13.000000
max,8.470580e+11,779.000000,387.000000,2.000000,924.001200,500.000000,49.591840,144.000000,95.000000,97.000000,91.000000,100.000000

In [9]:
Sci_9_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_CIENCIAS_9_SIMPLIFICADO.txt", delimiter = "|")

In [10]:
print("File Shape", Sci_9_Simp.shape)
print(shape_cols(Sci_9_Simp))
Sci_9_Simp.describe()

File Shape (1248, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.248000e+03,1248.000000,1248.000000,1236.000000,1248.000000,1248.000000,1248.000000,1248.000000,1248.000000
mean,2.755219e+11,7.006410,3.422276,0.057443,8.106904,0.544872,1.652244,0.883814,0.294071
std,6.620548e+10,2.797918,1.287925,0.246303,3.633716,0.905958,1.248921,1.042848,0.708000
min,1.052090e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.195283e+11,5.000000,2.000000,0.000000,5.000010,0.000000,1.000000,0.000000,0.000000
50%,2.663870e+11,7.000000,4.000000,0.000000,8.000000,0.000000,2.000000,1.000000,0.000000
75%,3.110011e+11,9.000000,4.000000,0.000000,10.000000,1.000000,2.000000,1.000000,0.000000
max,8.548740e+11,20.000000,8.000000,2.000000,23.000000,5.000000,5.000000,5.000000,5.000000

In [11]:
Competencias_5_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_COMPETENCIAS_5_COMPLETO.txt", delimiter = "|")

In [12]:
print("File Shape", Competencias_5_Completo.shape)
print(shape_cols(Competencias_5_Completo))
Competencias_5_Completo.describe()

File Shape (10940, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.094000e+04,10940.000000,10940.000000,10904.000000,10940.000000,10940.000000,10938.000000,10940.000000,10940.00000,10940.000000,10940.000000,10940.000000
mean,2.435691e+11,66.065905,32.923400,0.246882,71.890894,306.249086,12.722752,64.651645,25.62011,31.420567,29.674223,13.466819
std,9.099225e+10,65.384561,32.611052,0.465187,73.434822,51.818049,5.962574,13.581873,19.95842,12.702003,14.849733,17.459647
min,1.050010e+11,6.000000,6.000000,0.000000,6.000000,105.000000,2.500000,19.000000,0.00000,0.000000,0.000000,0.000000
25%,1.700010e+11,22.000000,11.000000,0.000000,24.000000,271.000000,8.112000,56.000000,10.00000,24.000000,19.000000,2.000000
50%,2.445600e+11,41.000000,20.000000,0.000000,43.999950,300.000000,11.633000,65.000000,22.00000,33.000000,30.000000,7.000000
75%,3.110011e+11,86.000000,43.000000,0.000000,92.999970,334.000000,16.276000,73.000000,37.00000,40.000000,40.000000,18.000000
max,8.475510e+11,626.000000,317.000000,2.000000,1027.999300,500.000000,66.480000,170.000000,100.00000,89.000000,90.000000,100.000000

In [13]:
Competencias_5_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_COMPETENCIAS_5_SIMPLIFICADO.txt", delimiter = "|")

In [14]:
print("File Shape", Competencias_5_Simp.shape)
print(shape_cols(Competencias_5_Simp))
Competencias_5_Simp.describe()

File Shape (4841, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4.841000e+03,4841.000000,4841.00000,4798.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000
mean,2.677355e+11,5.574262,2.75315,0.044393,6.101799,0.533361,0.787441,0.916546,0.426152
std,7.465348e+10,3.389262,1.58114,0.229902,3.501018,0.861104,0.910485,0.990063,0.786751
min,1.050340e+11,1.000000,1.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.055790e+11,3.000000,2.00000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,2.522600e+11,5.000000,2.00000,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000
75%,3.130010e+11,8.000000,4.00000,0.000000,8.000010,1.000000,1.000000,1.000000,1.000000
max,8.548740e+11,48.000000,25.00000,2.000000,28.000000,5.000000,5.000000,5.000000,5.000000

In [15]:
Competencias_9_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_COMPETENCIAS_9_COMPLETO.txt", delimiter = "|")

In [16]:
print("File Shape", Competencias_9_Completo.shape)
print(shape_cols(Competencias_9_Completo))
Competencias_9_Completo.describe()

File Shape (8495, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,8.495000e+03,8495.000000,8495.000000,8475.000000,8495.000000,8495.000000,8495.000000,8495.000000,8495.000000,8495.000000,8495.000000,8495.000000
mean,2.323565e+11,66.081342,33.001530,0.190560,72.790346,297.674868,12.266928,65.067098,13.990583,32.483343,43.841201,9.860388
std,9.330580e+10,61.979488,30.939989,0.394565,69.880638,49.478721,5.260798,11.224373,14.751275,15.126176,17.162044,13.832964
min,1.050010e+11,8.000000,6.000000,0.000000,8.000000,126.000000,2.959180,21.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500060e+11,24.000000,12.000000,0.000000,26.000040,264.000000,8.265310,59.000000,3.000000,23.000000,33.000000,1.000000
50%,2.234170e+11,45.000000,22.000000,0.000000,48.999890,294.000000,11.224490,65.000000,10.000000,34.000000,46.000000,5.000000
75%,3.110010e+11,85.000000,43.000000,0.000000,93.999970,326.000000,15.357140,72.000000,20.000000,43.000000,57.000000,12.000000
max,8.470580e+11,779.000000,392.000000,2.000000,923.998880,500.000000,53.775510,159.000000,98.000000,90.000000,98.000000,100.000000

In [17]:
Competencias_9_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_COMPETENCIAS_9_SIMPLIFICADO.txt", delimiter = "|")

In [18]:
print("File Shape", Competencias_9_Simp.shape)
print(shape_cols(Competencias_9_Simp))
Competencias_9_Simp.describe()

File Shape (1264, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.264000e+03,1264.000000,1264.000000,1252.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000
mean,2.752786e+11,7.018196,3.427215,0.047923,8.105854,0.651899,1.185127,1.298259,0.211234
std,6.674450e+10,3.562426,1.723873,0.228162,3.783305,0.923364,1.079823,1.170553,0.586602
min,1.052090e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.195170e+11,5.000000,2.000000,0.000000,5.000010,0.000000,0.000000,0.000000,0.000000
50%,2.672285e+11,7.000000,4.000000,0.000000,8.000000,0.000000,1.000000,1.000000,0.000000
75%,3.110011e+11,9.000000,4.000000,0.000000,10.000000,1.000000,2.000000,2.000000,0.000000
max,8.548740e+11,84.000000,42.000000,2.000000,23.000000,5.000000,5.000000,5.000000,5.000000

In [19]:
Lang_3_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_LENGUAJE_3_COMPLETO.txt", delimiter = "|")

In [20]:
print("File Shape", Lang_3_Completo.shape)
print(shape_cols(Lang_3_Completo))
Lang_3_Completo.describe()

File Shape (11438, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.143800e+04,11438.000000,11438.000000,11395.000000,11438.000000,11438.000000,11437.000000,11438.000000,11438.000000,11438.000000,11438.000000,11438.000000
mean,2.468365e+11,63.389491,31.776360,0.379552,68.651053,308.472198,12.267148,60.192254,20.579734,28.529288,30.385994,20.675643
std,9.151087e+10,62.025168,31.052289,0.566566,68.774071,58.113968,5.511465,12.883360,20.410256,14.409067,15.135074,23.639678
min,1.050010e+11,6.000000,6.000000,0.000000,9.999990,109.000000,2.602000,22.000000,0.000000,0.000000,0.000000,0.000000
25%,1.730010e+11,22.000000,11.000000,0.000000,23.000040,269.000000,7.959000,53.000000,3.000000,19.000000,20.000000,3.000000
50%,2.502355e+11,39.000000,20.000000,0.000000,42.000000,301.000000,11.378000,60.000000,15.000000,31.000000,31.000000,12.000000
75%,3.110011e+11,82.000000,41.000000,1.000000,88.000068,342.000000,15.663000,66.000000,31.000000,39.000000,41.000000,30.000000
max,8.479800e+11,615.000000,310.000000,2.000000,998.999490,500.000000,49.235000,169.000000,100.000000,79.000000,93.000000,100.000000

In [21]:
Lang_3_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_LENGUAJE_3_SIMPLIFICADO.txt", delimiter = "|")

In [22]:
print("File Shape", Lang_3_Simp.shape)
print(shape_cols(Lang_3_Simp))
Lang_3_Simp.describe()

File Shape (4914, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4.914000e+03,4914.000000,4914.000000,4851.000000,4914.000000,4914.000000,4914.000000,4914.000000,4914.000000
mean,2.671764e+11,5.746846,2.862027,0.072356,6.192939,0.420228,0.699430,0.851852,0.730973
std,7.621149e+10,3.732864,1.849214,0.316424,3.486768,0.827872,0.924271,0.988860,1.097371
min,1.050040e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.056280e+11,3.000000,2.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,2.522600e+11,5.000000,3.000000,0.000000,6.000000,0.000000,0.000000,1.000000,0.000000
75%,3.110011e+11,8.000000,4.000000,0.000000,9.000000,1.000000,1.000000,1.000000,1.000000
max,8.479800e+11,59.000000,30.000000,2.000000,26.000000,5.000000,5.000000,5.000000,5.000000

In [23]:
Lang_5_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_LENGUAJE_5_COMPLETO.txt", delimiter = "|")

In [24]:
print("File Shape", Lang_5_Completo.shape)
print(shape_cols(Lang_5_Completo))
Lang_5_Completo.describe()

File Shape (10956, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.095600e+04,10956.000000,10956.000000,10921.000000,10956.000000,10956.000000,10956.000000,10956.000000,10956.000000,10956.000000,10956.000000,10956.000000
mean,2.436747e+11,65.987769,32.947609,0.226353,71.854568,310.605057,13.873860,67.096112,17.640288,37.147225,29.040252,16.353322
std,9.115103e+10,65.368386,32.619480,0.453967,73.430575,58.851927,6.417605,13.060243,18.054558,16.047981,14.556888,19.794294
min,1.050010e+11,8.000000,6.000000,0.000000,7.999980,146.000000,3.316000,21.000000,0.000000,0.000000,0.000000,0.000000
25%,1.700010e+11,22.000000,11.000000,0.000000,23.999990,270.000000,8.814250,59.000000,3.000000,27.000000,18.000000,2.000000
50%,2.446500e+11,41.000000,20.000000,0.000000,43.999960,304.000000,12.755000,66.000000,12.000000,40.000000,30.000000,9.000000
75%,3.110011e+11,86.000000,43.000000,0.000000,92.999972,345.000000,17.653000,73.000000,26.000000,49.000000,40.000000,23.000000
max,8.475510e+11,626.000000,315.000000,2.000000,1027.999350,500.000000,64.490000,187.000000,96.000000,90.000000,93.000000,100.000000

In [25]:
Lang_5_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_LENGUAJE_5_SIMPLIFICADO.txt", delimiter = "|")

In [26]:
print("File Shape", Lang_5_Simp.shape)
print(shape_cols(Lang_5_Simp))
Lang_5_Simp.describe()

File Shape (4837, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4.837000e+03,4837.000000,4837.000000,4790.000000,4837.000000,4837.000000,4837.000000,4837.000000,4837.000000
mean,2.674297e+11,5.522225,2.744263,0.038413,6.078642,0.369651,0.905933,0.846599,0.540624
std,7.408993e+10,3.308974,1.536209,0.215756,3.478910,0.747074,1.004148,0.954959,0.902078
min,1.050010e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.055790e+11,3.000000,2.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,2.522600e+11,5.000000,2.000000,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000
75%,3.130010e+11,8.000000,4.000000,0.000000,8.000010,1.000000,1.000000,1.000000,1.000000
max,8.548740e+11,48.000000,24.000000,2.000000,30.000000,5.000000,5.000000,5.000000,5.000000

In [27]:
Lang_9_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_LENGUAJE_9_COMPLETO.txt", delimiter = "|")

In [28]:
print("File Shape", Lang_9_Completo.shape)
print(shape_cols(Lang_9_Completo))
Lang_9_Completo.describe()

File Shape (8486, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,8.486000e+03,8486.00000,8486.000000,8465.000000,8486.000000,8486.000000,8486.000000,8486.000000,8486.000000,8486.000000,8486.000000,8486.000000
mean,2.324874e+11,66.13646,33.059628,0.238866,72.856511,304.946736,13.003913,65.310983,15.229437,38.601579,40.878506,5.466415
std,9.349482e+10,61.99047,30.979450,0.427799,69.898305,54.020450,5.597810,10.980715,16.228387,16.666622,20.495735,10.084475
min,1.050010e+11,9.00000,6.000000,0.000000,10.000000,107.000000,3.316000,27.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500060e+11,24.00000,12.000000,0.000000,26.000040,269.000000,8.776000,59.000000,3.000000,29.000000,25.000000,0.000000
50%,2.234170e+11,45.00000,22.000000,0.000000,48.999910,301.000000,11.990000,66.000000,10.000000,42.000000,42.000000,1.000000
75%,3.110010e+11,85.00000,43.000000,0.000000,94.000000,336.000000,16.071000,72.000000,22.000000,50.000000,57.000000,6.000000
max,8.470580e+11,779.00000,392.000000,2.000000,923.998880,497.000000,46.888000,147.000000,100.000000,93.000000,97.000000,78.000000

In [29]:
Lang_9_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_LENGUAJE_9_SIMPLIFICADO.txt", delimiter = "|")

In [30]:
print("File Shape", Lang_9_Simp.shape)
print(shape_cols(Lang_9_Simp))
Lang_9_Simp.describe()

File Shape (1246, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.246000e+03,1246.000000,1246.000000,1235.000000,1246.000000,1246.000000,1246.000000,1246.000000,1246.000000
mean,2.737125e+11,7.085072,3.471910,0.048583,8.135500,0.701445,1.425361,1.162921,0.087480
std,6.592093e+10,3.639694,1.748095,0.233161,3.706907,1.015122,1.153503,1.230772,0.344159
min,1.052090e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.192560e+11,5.000000,2.000000,0.000000,5.000010,0.000000,1.000000,0.000000,0.000000
50%,2.548710e+11,7.000000,4.000000,0.000000,8.000000,0.000000,1.000000,1.000000,0.000000
75%,3.110011e+11,9.000000,5.000000,0.000000,10.000000,1.000000,2.000000,2.000000,0.000000
max,8.548740e+11,84.000000,41.000000,2.000000,23.000000,5.000000,5.000000,5.000000,3.000000

In [31]:
Math_3_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_MATEMATICAS_3_COMPLETO.txt", delimiter = "|")

In [32]:
print("File Shape", Math_3_Completo.shape)
print(shape_cols(Math_3_Completo))
Math_3_Completo.describe()

File Shape (11444, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.144400e+04,11444.000000,11444.000000,11404.000000,11444.000000,11444.000000,11444.000000,11444.000000,11444.000000,11444.000000,11444.000000,11444.000000
mean,2.467737e+11,63.391035,31.642782,0.364083,68.648125,310.586596,12.125897,60.894006,17.754981,27.364121,26.700717,28.360189
std,9.167876e+10,62.015551,30.983192,0.560653,68.743504,57.838903,5.592682,13.961365,18.677055,14.943915,12.887503,26.291154
min,1.050010e+11,7.000000,6.000000,0.000000,7.999980,130.000000,2.653000,18.000000,0.000000,0.000000,0.000000,0.000000
25%,1.730010e+11,22.000000,11.000000,0.000000,23.000040,271.000000,7.755000,52.000000,3.000000,16.000000,18.000000,8.000000
50%,2.502260e+11,39.000000,20.000000,0.000000,42.000000,303.000000,11.224000,60.000000,13.000000,29.000000,28.000000,20.000000
75%,3.110011e+11,82.000000,41.000000,1.000000,88.900082,344.000000,15.459000,67.000000,27.000000,38.000000,36.000000,43.000000
max,8.479800e+11,615.000000,306.000000,2.000000,999.001260,500.000000,51.224000,174.000000,100.000000,76.000000,87.000000,100.000000

In [33]:
Math_3_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_MATEMATICAS_3_SIMPLIFICADO.txt", delimiter = "|")

In [34]:
print("File Shape", Math_3_Simp.shape)
print(shape_cols(Math_3_Simp))
Math_3_Simp.describe()

File Shape (4939, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4.939000e+03,4939.000000,4939.000000,4874.000000,4939.000000,4939.000000,4939.000000,4939.000000,4939.000000
mean,2.667445e+11,5.725855,2.848147,0.078375,6.170664,0.313221,0.561247,0.684349,1.137882
std,7.464870e+10,3.728396,1.822973,0.322894,3.456789,0.726243,0.844804,0.874797,1.287940
min,1.050040e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.056280e+11,3.000000,1.500000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,2.522600e+11,5.000000,3.000000,0.000000,6.000000,0.000000,0.000000,0.000000,1.000000
75%,3.110011e+11,8.000000,4.000000,0.000000,9.000000,0.000000,1.000000,1.000000,2.000000
max,8.479800e+11,59.000000,29.000000,2.000000,22.000000,5.000000,5.000000,4.000000,5.000000

In [35]:
Math_5_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_MATEMATICAS_5_COMPLETO.txt", delimiter = "|")

In [36]:
print("File Shape", Math_5_Completo.shape)
print(shape_cols(Math_5_Completo))
Math_5_Completo.describe()

File Shape (10963, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.096300e+04,10963.000000,10963.000000,10929.000000,10963.000000,10963.000000,10962.000000,10963.000000,10963.000000,10963.000000,10963.000000,10963.000000
mean,2.438291e+11,65.958770,33.048162,0.233599,71.820413,302.446502,13.054081,66.636140,35.379093,29.991334,20.757366,14.062300
std,9.123123e+10,65.358255,32.645476,0.463395,73.389557,55.793378,6.156415,14.262716,24.566243,12.174513,12.354664,17.741131
min,1.050010e+11,8.000000,6.000000,0.000000,6.000000,109.000000,3.112000,22.000000,0.000000,0.000000,0.000000,0.000000
25%,1.700010e+11,22.000000,11.000000,0.000000,24.000000,265.000000,8.214000,58.000000,16.000000,23.000000,11.000000,2.000000
50%,2.448470e+11,41.000000,20.000000,0.000000,43.904800,298.000000,11.939000,66.000000,32.000000,31.000000,20.000000,8.000000
75%,3.110011e+11,86.000000,43.000000,0.000000,92.989360,335.000000,16.633000,74.000000,52.000000,38.000000,29.000000,19.000000
max,8.475510e+11,626.000000,313.000000,2.000000,1028.000880,500.000000,64.490000,174.000000,100.000000,83.000000,70.000000,100.000000

In [37]:
Math_5_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_MATEMATICAS_5_SIMPLIFICADO.txt", delimiter = "|")

In [38]:
print("File Shape", Math_5_Simp.shape)
print(shape_cols(Math_5_Simp))
Math_5_Simp.describe()

File Shape (4811, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4.811000e+03,4811.000000,4811.000000,4759.000000,4811.000000,4811.000000,4811.000000,4811.000000,4811.000000
mean,2.670403e+11,5.540220,2.797755,0.047489,6.039322,0.775722,0.765953,0.635835,0.511536
std,7.401546e+10,3.365564,1.611434,0.243998,3.366630,1.045036,0.908319,0.830297,0.868735
min,1.050040e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.055790e+11,3.000000,2.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,2.522600e+11,5.000000,2.000000,0.000000,6.000000,0.000000,1.000000,0.000000,0.000000
75%,3.130010e+11,8.000000,4.000000,0.000000,8.000000,1.000000,1.000000,1.000000,1.000000
max,8.548740e+11,48.000000,26.000000,2.000000,22.000000,5.000000,5.000000,5.000000,5.000000

In [39]:
Math_9_Completo = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_MATEMATICAS_9_COMPLETO.txt", delimiter = "|")

In [40]:
print("File Shape", Math_9_Completo.shape)
print(shape_cols(Math_9_Completo))
Math_9_Completo.describe()

File Shape (8464, 12)
Columns found:  12
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,PROMEDIO,ERROR_ESTANDAR,DESVIACION,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,8.464000e+03,8464.000000,8464.000000,8443.000000,8464.000000,8464.000000,8464.000000,8464.000000,8464.000000,8464.000000,8464.000000,8464.000000
mean,2.323105e+11,66.263114,33.166352,0.310198,72.976304,302.557538,12.737431,64.287216,21.637051,50.742439,22.041352,5.737122
std,9.345209e+10,62.021716,31.026515,0.465664,69.924235,58.303841,5.622541,13.239470,19.362439,16.597246,16.963987,12.533392
min,1.050010e+11,9.000000,6.000000,0.000000,9.000000,120.000000,3.010000,21.000000,0.000000,0.000000,0.000000,0.000000
25%,1.500010e+11,24.000000,12.000000,0.000000,26.000040,263.000000,8.469000,56.000000,6.000000,43.000000,8.000000,0.000000
50%,2.234170e+11,45.000000,22.000000,0.000000,48.999975,295.000000,11.684000,64.000000,17.000000,54.000000,19.000000,1.000000
75%,3.110010e+11,86.000000,43.000000,1.000000,94.000065,332.000000,15.918000,72.000000,33.000000,62.000000,34.000000,5.000000
max,8.470580e+11,779.000000,387.000000,2.000000,924.001200,500.000000,48.163000,167.000000,100.000000,94.000000,87.000000,98.000000

In [41]:
Math_9_Simp = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Establecimientos/ResultadosEstablecimientos_2012_MATEMATICAS_9_SIMPLIFICADO.txt", delimiter = "|")

In [42]:
print("File Shape", Math_9_Simp.shape)
print(shape_cols(Math_9_Simp))
Math_9_Simp.describe()

File Shape (1241, 9)
Columns found:  9
None

,COD_DANE,EVALUADOS,PARTICIPANTES,COPIA,PESO,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,1.241000e+03,1241.000000,1241.000000,1231.000000,1241.000000,1241.000000,1241.000000,1241.000000,1241.000000
mean,2.738518e+11,7.016922,3.411765,0.074736,8.059978,0.844480,1.687349,0.643030,0.173247
std,6.570968e+10,2.930464,1.390227,0.278095,3.606493,1.136273,1.287875,0.935355,0.591439
min,1.052090e+11,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.192560e+11,5.000000,2.000000,0.000000,5.000010,0.000000,1.000000,0.000000,0.000000
50%,2.548710e+11,7.000000,4.000000,0.000000,8.000000,0.000000,2.000000,0.000000,0.000000
75%,3.110011e+11,9.000000,4.000000,0.000000,10.000000,1.000000,3.000000,1.000000,0.000000
max,8.548740e+11,31.000000,14.000000,2.000000,20.000000,5.000000,5.000000,4.000000,5.000000

____

### Municipios
Se identifica un mismo formato para los archivos, mismas columnas  
Columna ERRORESTANDARPROMEDIO se supone numerica, separacion de decimales con ","; necesario cambiar a "."

In [2]:
Sci_5_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_CIENCIAS_5-v1-0.txt", delimiter = "|")

In [3]:
print("File Shape", Sci_5_Muni.shape)
print(shape_cols(Sci_5_Muni))
Sci_5_Muni.describe()

File Shape (1114, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1114.000000,1105.000000,1105.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000
mean,38249.653501,294.665158,70.903167,21.526032,48.475763,20.349192,9.864452,326.326750
std,26179.155128,34.779144,8.231514,13.448439,7.373482,8.353229,7.571435,1792.742439
min,5001.000000,187.000000,38.000000,0.000000,5.000000,0.000000,0.000000,2.000000
25%,15668.500000,273.000000,66.000000,12.000000,45.000000,15.000000,4.000000,56.000000
50%,25811.000000,298.000000,71.000000,18.000000,49.000000,21.000000,9.000000,110.000000
75%,66084.750000,318.000000,75.000000,28.000000,53.000000,26.000000,14.000000,229.000000
max,99773.000000,465.000000,107.000000,81.000000,69.000000,66.000000,81.000000,53556.000000

In [5]:
Sci_9_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_CIENCIAS_9-v1-0.txt", delimiter = "|")

In [6]:
print("File Shape", Sci_9_Muni.shape)
print(shape_cols(Sci_9_Muni))
Sci_9_Muni.describe()

File Shape (1109, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1109.000000,1104.000000,1104.000000,1109.000000,1109.000000,1109.000000,1109.000000,1109.000000
mean,38145.669973,296.430254,67.834239,15.238954,52.394950,26.372408,6.144274,250.470694
std,26054.340254,36.161703,8.724694,11.645550,9.242765,11.871803,6.147915,1572.137625
min,5001.000000,169.000000,36.000000,0.000000,9.000000,0.000000,0.000000,2.000000
25%,15667.000000,273.000000,62.000000,7.000000,48.000000,18.000000,2.000000,37.000000
50%,25807.000000,298.000000,68.000000,12.000000,54.000000,28.000000,4.000000,72.000000
75%,66045.000000,320.250000,73.000000,21.000000,58.000000,35.000000,9.000000,155.000000
max,99773.000000,424.000000,97.000000,66.000000,95.000000,77.000000,47.000000,47296.000000

In [7]:
Compt_Ciud_5_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_COMPCIUDADANAS_5-v1-0.txt", delimiter = "|")

In [8]:
print("File Shape", Compt_Ciud_5_Muni.shape)
print(shape_cols(Compt_Ciud_5_Muni))
Compt_Ciud_5_Muni.describe()

File Shape (1113, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1113.000000,1106.000000,1106.000000,1113.000000,1113.000000,1113.000000,1113.000000,1113.000000
mean,38198.768194,288.608499,63.965642,30.747529,34.451932,27.061096,7.944295,325.742138
std,26135.749334,28.633453,8.048197,14.603084,5.577905,9.945347,6.233795,1792.851115
min,5001.000000,210.000000,34.000000,0.000000,9.000000,2.000000,0.000000,3.000000
25%,15667.000000,270.000000,58.000000,20.000000,31.000000,20.000000,3.000000,56.000000
50%,25807.000000,292.000000,64.000000,28.000000,35.000000,28.000000,7.000000,109.000000
75%,66075.000000,308.000000,69.000000,39.000000,38.000000,34.000000,11.000000,228.000000
max,99773.000000,426.000000,111.000000,77.000000,57.000000,56.000000,59.000000,53561.000000

In [9]:
Compt_Ciud_9_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_COMPCIUDADANAS_9-v1-0.txt", delimiter = "|")

In [10]:
print("File Shape", Compt_Ciud_9_Muni.shape)
print(shape_cols(Compt_Ciud_9_Muni))
Compt_Ciud_9_Muni.describe()

File Shape (1109, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1109.000000,1102.000000,1102.000000,1109.000000,1109.000000,1109.000000,1109.000000,1109.000000
mean,38145.669973,286.410163,65.124319,15.781785,36.093778,42.167719,6.140667,250.158702
std,26054.340254,31.728248,7.227079,12.056545,8.669433,13.356768,5.642161,1569.904150
min,5001.000000,166.000000,36.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,15667.000000,266.000000,61.000000,7.000000,31.000000,34.000000,2.000000,37.000000
50%,25807.000000,290.000000,65.000000,12.000000,37.000000,44.000000,5.000000,72.000000
75%,66045.000000,308.000000,69.000000,21.000000,42.000000,52.000000,8.000000,154.000000
max,99773.000000,418.000000,102.000000,80.000000,69.000000,75.000000,55.000000,47213.000000

In [11]:
Lang_3_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_LENGUAJE_3-v1-0.txt", delimiter = "|")

In [12]:
print("File Shape", Lang_3_Muni.shape)
print(shape_cols(Lang_3_Muni))
Lang_3_Muni.describe()

File Shape (1115, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1115.000000,1109.000000,1109.000000,1115.000000,1115.000000,1115.000000,1115.000000,1115.000000
mean,38297.563229,286.071235,61.540126,26.983857,32.893274,27.681614,12.659193,325.873543
std,26216.259378,31.152318,8.257229,14.648721,6.618910,9.396702,9.088755,1654.757762
min,5001.000000,177.000000,32.000000,0.000000,5.000000,0.000000,0.000000,5.000000
25%,15670.000000,267.000000,57.000000,16.000000,29.000000,22.000000,6.000000,57.000000
50%,25815.000000,287.000000,61.000000,24.000000,33.000000,28.000000,11.000000,113.000000
75%,66129.000000,307.000000,65.000000,35.000000,37.000000,34.000000,17.000000,240.500000
max,99773.000000,428.000000,110.000000,78.000000,59.000000,64.000000,63.000000,48491.000000

In [13]:
Lang_5_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_LENGUAJE_5-v1-0.txt", delimiter = "|")

In [14]:
print("File Shape", Lang_5_Muni.shape)
print(shape_cols(Lang_5_Muni))
Lang_5_Muni.describe()

File Shape (1114, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1114.000000,1106.000000,1106.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000
mean,38249.653501,291.207052,67.732369,21.658887,41.896768,26.619390,10.014363,326.047576
std,26179.155128,34.524063,7.982945,14.211924,7.319258,10.270319,7.784714,1792.871134
min,5001.000000,196.000000,35.000000,0.000000,11.000000,0.000000,0.000000,1.000000
25%,15668.500000,270.000000,63.000000,11.000000,38.000000,20.000000,4.000000,56.000000
50%,25811.000000,294.000000,67.000000,17.000000,43.000000,28.000000,8.000000,110.000000
75%,66084.750000,314.000000,72.000000,28.000000,47.000000,34.000000,14.000000,229.750000
max,99773.000000,424.000000,116.000000,77.000000,75.000000,57.000000,66.000000,53583.000000

In [15]:
Lang_9_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_LENGUAJE_9-v1-0.txt", delimiter = "|")

In [16]:
print("File Shape", Lang_9_Muni.shape)
print(shape_cols(Lang_9_Muni))
Lang_9_Muni.describe()

File Shape (1109, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1109.000000,1103.000000,1103.000000,1109.000000,1109.000000,1109.000000,1109.000000,1109.000000
mean,38145.669973,290.228468,65.251133,17.784491,43.630298,36.310189,2.475203,250.323715
std,26054.340254,34.490463,6.556569,13.791298,8.638677,15.016937,3.101555,1573.778634
min,5001.000000,155.000000,36.000000,0.000000,8.000000,0.000000,0.000000,2.000000
25%,15667.000000,269.000000,61.000000,8.000000,39.000000,25.000000,0.000000,37.000000
50%,25807.000000,295.000000,65.000000,14.000000,45.000000,38.000000,1.000000,73.000000
75%,66045.000000,313.000000,69.000000,24.000000,49.000000,47.000000,3.000000,155.000000
max,99773.000000,409.000000,93.000000,87.000000,73.000000,83.000000,27.000000,47363.000000

In [17]:
Math_3_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_MATEMATICAS_3-v1-0.txt", delimiter = "|")

In [18]:
print("File Shape", Math_3_Muni.shape)
print(shape_cols(Math_3_Muni))
Math_3_Muni.describe()

File Shape (1115, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1115.000000,1109.000000,1109.000000,1115.000000,1115.000000,1115.000000,1115.000000,1115.000000
mean,38297.563229,290.337241,62.765555,23.027803,31.422422,25.242152,20.510314,325.183857
std,26216.259378,31.976157,8.926750,13.497394,7.406269,7.425671,12.239113,1654.011851
min,5001.000000,193.000000,32.000000,0.000000,4.000000,0.000000,0.000000,4.000000
25%,15670.000000,269.000000,58.000000,13.000000,27.000000,21.000000,12.000000,56.000000
50%,25815.000000,290.000000,62.000000,20.000000,32.000000,26.000000,19.000000,112.000000
75%,66129.000000,310.000000,67.000000,30.000000,36.000000,30.000000,27.000000,241.000000
max,99773.000000,427.000000,120.000000,84.000000,60.000000,53.000000,80.000000,48516.000000

In [19]:
Math_5_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_MATEMATICAS_5-v1-0.txt", delimiter = "|")

In [20]:
print("File Shape", Math_5_Muni.shape)
print(shape_cols(Math_5_Muni))
Math_5_Muni.describe()

File Shape (1114, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1114.000000,1105.000000,1105.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000
mean,38249.653501,287.192760,67.572851,41.044883,30.684919,18.558348,9.856373,327.090664
std,26179.155128,35.661679,8.579255,18.063971,7.270564,8.102705,7.902086,1794.347249
min,5001.000000,184.000000,37.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,15668.500000,265.000000,62.000000,28.000000,27.000000,13.000000,4.000000,56.250000
50%,25811.000000,291.000000,67.000000,38.000000,32.000000,19.000000,8.000000,110.000000
75%,66084.750000,311.000000,72.000000,52.000000,35.000000,24.000000,13.000000,230.000000
max,99773.000000,450.000000,105.000000,95.000000,58.000000,43.000000,70.000000,53596.000000

In [21]:
Math_9_Muni = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Municipios/ResultadosMunicipio_2012_MATEMATICAS_9-v1-0.txt", delimiter = "|")

In [22]:
print("File Shape", Math_9_Muni.shape)
print(shape_cols(Math_9_Muni))
Math_9_Muni.describe()

File Shape (1109, 11)
Columns found:  8
None

,MUNI_ID,PUNTAJE_PROMEDIO,DESVIACION,PORCENTAJE_INSUFICIENTE,PORCENTAJE_MINIMO,PORCENTAJE_SATISFACTORIO,PORCENTAJE_AVANZADO,N
count,1109.000000,1104.000000,1104.000000,1109.000000,1109.000000,1109.000000,1109.000000,1109.000000
mean,38145.669973,288.438406,63.026268,24.798016,54.028855,18.709648,2.633904,250.361587
std,26054.340254,36.494412,8.476100,15.952059,9.060620,11.688284,3.915553,1575.129137
min,5001.000000,156.000000,31.000000,0.000000,10.000000,0.000000,0.000000,2.000000
25%,15667.000000,265.000000,57.000000,13.000000,50.000000,10.000000,0.000000,37.000000
50%,25807.000000,289.000000,63.000000,21.000000,55.000000,18.000000,1.000000,72.000000
75%,66045.000000,313.000000,69.000000,33.000000,60.000000,27.000000,4.000000,152.000000
max,99773.000000,472.000000,104.000000,90.000000,79.000000,63.000000,51.000000,47428.000000

___

### Sedes
Se observa un mismo formato para todos los archivos  
Columna de tipo String "JORNADA", se utiliza "T" para Tarde y "M" para Mañana, se puede convertir a numerico.

In [23]:
Sci_5_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_CIENCIAS_5.txt", delimiter = "|")

In [24]:
print("File Shape", Sci_5_Sedes.shape)
print(shape_cols(Sci_5_Sedes))
Sci_5_Sedes.describe()

File Shape (17346, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,17346.000000,1.734500e+04,17346.000000,17346.000000,17323.000000,17346.000000,17346.000000,17346.000000,17346.000000
mean,254993.315808,2.252331e+11,20.011069,10.055632,0.077758,2.074542,5.154906,2.021792,0.763058
std,28141.617261,6.770292e+10,29.099214,14.498137,0.267798,3.888268,7.879478,3.914345,1.968389
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,240764.750000,2.053060e+11,3.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,257942.000000,2.236600e+11,7.000000,4.000000,0.000000,1.000000,2.000000,1.000000,0.000000
75%,274985.000000,2.681900e+11,26.000000,13.000000,0.000000,2.000000,6.000000,2.000000,1.000000
max,365418.000000,9.274130e+11,329.000000,164.000000,1.000000,58.000000,93.000000,46.000000,39.000000

In [26]:
Sci_9_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_CIENCIAS_9.txt", delimiter = "|")

In [27]:
print("File Shape", Sci_9_Sedes.shape)
print(shape_cols(Sci_9_Sedes))
Sci_9_Sedes.describe()

File Shape (4979, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4979.000000,4.979000e+03,4979.000000,4979.000000,4972.000000,4979.000000,4979.000000,4979.000000,4979.000000
mean,253566.733681,2.011990e+11,52.108054,26.038964,0.211585,3.165495,14.162282,7.243222,1.432014
std,29132.826165,7.502722e+10,47.409049,23.697659,0.408473,4.246040,12.825582,9.386124,3.094719
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,239118.500000,1.410010e+11,16.000000,8.000000,0.000000,0.000000,4.000000,1.000000,0.000000
50%,257004.000000,2.111020e+11,37.000000,19.000000,0.000000,2.000000,11.000000,4.000000,0.000000
75%,274122.500000,2.477050e+11,74.000000,37.000000,0.000000,4.000000,20.000000,10.000000,2.000000
max,365380.000000,8.730010e+11,363.000000,183.000000,1.000000,44.000000,89.000000,79.000000,41.000000

In [28]:
Compt_5_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_COMPETENCIAS_5.txt", delimiter = "|")

In [29]:
print("File Shape", Compt_5_Sedes.shape)
print(shape_cols(Compt_5_Sedes))
Compt_5_Sedes.describe()

File Shape (17222, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,17222.000000,1.722100e+04,17222.000000,17222.000000,17197.000000,17222.000000,17222.000000,17222.000000,17222.000000
mean,254997.987864,2.249683e+11,20.154512,10.099350,0.085131,3.103937,3.568227,2.686157,0.700848
std,28119.458509,6.782881e+10,29.161190,14.514521,0.279085,5.189583,5.515309,4.829048,1.968287
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,240768.750000,2.052340e+11,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,257942.000000,2.235800e+11,7.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000
75%,274952.250000,2.681900e+11,26.000000,13.000000,0.000000,4.000000,4.000000,3.000000,1.000000
max,365418.000000,9.274130e+11,329.000000,164.000000,1.000000,73.000000,62.000000,67.000000,56.000000

In [30]:
Compt_9_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_COMPETENCIAS_9.txt", delimiter = "|")

In [31]:
print("File Shape", Compt_9_Sedes.shape)
print(shape_cols(Compt_9_Sedes))
Compt_9_Sedes.describe()

File Shape (4991, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4991.000000,4.991000e+03,4991.000000,4991.000000,4984.000000,4991.000000,4991.000000,4991.000000,4991.000000
mean,253571.558605,2.013133e+11,52.008816,25.959928,0.145265,3.612903,9.276097,11.597275,1.436185
std,29132.255832,7.493226e+10,47.405947,23.693399,0.352403,4.498856,8.511733,13.146092,3.022077
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,239124.500000,1.410010e+11,16.000000,8.000000,0.000000,1.000000,3.000000,2.000000,0.000000
50%,256997.000000,2.118500e+11,37.000000,18.000000,0.000000,2.000000,7.000000,7.000000,0.000000
75%,274125.500000,2.477070e+11,74.000000,37.000000,0.000000,5.000000,13.000000,16.000000,2.000000
max,365380.000000,8.730010e+11,363.000000,183.000000,1.000000,50.000000,58.000000,109.000000,45.000000

In [32]:
Lang_3_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_LENGUAJE_3.txt", delimiter = "|")

In [33]:
print("File Shape", Lang_3_Sedes.shape)
print(shape_cols(Lang_3_Sedes))
Lang_3_Sedes.describe()

File Shape (18557, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,18557.000000,1.855600e+04,18557.000000,18557.000000,18528.000000,18557.000000,18557.000000,18557.000000,18557.000000
mean,255007.051355,2.259976e+11,18.467101,9.274021,0.137468,2.419626,3.157299,2.667188,0.974565
std,28271.960125,6.848496e+10,25.828817,12.908402,0.344350,4.360453,4.945085,4.831972,2.502639
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,240730.000000,2.056040e+11,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,257977.000000,2.236600e+11,7.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000
75%,275019.000000,2.682350e+11,25.000000,13.000000,0.000000,3.000000,4.000000,3.000000,1.000000
max,365418.000000,9.274130e+11,304.000000,154.000000,1.000000,84.000000,67.000000,66.000000,63.000000

In [34]:
Lang_5_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_LENGUAJE_5.txt", delimiter = "|")

In [35]:
print("File Shape", Lang_5_Sedes.shape)
print(shape_cols(Lang_5_Sedes))
Lang_5_Sedes.describe()

File Shape (17439, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,17439.000000,1.743800e+04,17439.000000,17439.000000,17417.000000,17439.000000,17439.000000,17439.000000,17439.000000
mean,255022.692643,2.253892e+11,19.932336,10.007340,0.074869,1.995413,4.367796,2.775905,0.829807
std,28013.020255,6.772418e+10,29.050446,14.476413,0.263188,3.782430,6.744000,5.254582,2.352092
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,240793.000000,2.053080e+11,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,258035.000000,2.236600e+11,7.000000,4.000000,0.000000,1.000000,2.000000,1.000000,0.000000
75%,274924.500000,2.682110e+11,26.000000,13.000000,0.000000,2.000000,6.000000,3.000000,1.000000
max,365418.000000,9.274130e+11,329.000000,165.000000,1.000000,53.000000,89.000000,66.000000,56.000000

In [36]:
Lang_9_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_LENGUAJE_9.txt", delimiter = "|")

In [37]:
print("File Shape", Lang_9_Sedes.shape)
print(shape_cols(Lang_9_Sedes))
Lang_9_Sedes.describe()

File Shape (4975, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4975.000000,4.975000e+03,4975.000000,4975.000000,4968.000000,4975.000000,4975.000000,4975.000000,4975.000000
mean,253507.733467,2.013898e+11,52.172060,26.081608,0.185588,3.802613,11.243417,10.494070,0.502915
std,29153.328725,7.534669e+10,47.394194,23.689881,0.388813,4.743653,10.140015,13.374892,1.613156
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,239073.000000,1.410010e+11,16.000000,8.000000,0.000000,1.000000,3.000000,2.000000,0.000000
50%,256954.000000,2.111020e+11,37.000000,19.000000,0.000000,2.000000,8.000000,5.000000,0.000000
75%,274026.000000,2.477135e+11,74.000000,37.000000,0.000000,5.000000,16.000000,15.000000,0.000000
max,365380.000000,8.730010e+11,363.000000,180.000000,1.000000,42.000000,73.000000,116.000000,30.000000

In [38]:
Math_3_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_MATEMATICAS_3.txt", delimiter = "|")

In [39]:
print("File Shape", Math_3_Sedes.shape)
print(shape_cols(Math_3_Sedes))
Math_3_Sedes.describe()

File Shape (18480, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,18480.000000,1.847900e+04,18480.000000,18480.000000,18457.000000,18480.000000,18480.000000,18480.000000,18480.000000
mean,254989.876407,2.258373e+11,18.556006,9.293452,0.128786,2.139502,3.081385,2.474188,1.543128
std,28212.529373,6.841116e+10,25.855355,12.918246,0.334972,4.035534,4.898690,4.406847,3.258109
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,240748.000000,2.054900e+11,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,257936.500000,2.236600e+11,7.000000,4.000000,0.000000,1.000000,1.000000,1.000000,0.000000
75%,274974.750000,2.682230e+11,25.000000,13.000000,0.000000,3.000000,4.000000,3.000000,2.000000
max,365418.000000,9.274130e+11,304.000000,150.000000,1.000000,79.000000,57.000000,61.000000,64.000000

In [40]:
Math_5_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_MATEMATICAS_5.txt", delimiter = "|")

In [41]:
print("File Shape", Math_5_Sedes.shape)
print(shape_cols(Math_5_Sedes))
Math_5_Sedes.describe()

File Shape (17397, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,17397.000000,1.739600e+04,17397.000000,17397.000000,17374.000000,17397.000000,17397.000000,17397.000000,17397.000000
mean,255051.929471,2.255741e+11,19.966144,10.062769,0.076609,4.109214,3.280968,1.869173,0.761855
std,28111.891401,6.858426e+10,29.078545,14.492673,0.265977,6.607872,5.329393,3.752980,2.013497
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,240840.000000,2.053080e+11,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,258111.000000,2.236600e+11,7.000000,4.000000,0.000000,2.000000,1.000000,0.000000,0.000000
75%,274962.000000,2.681900e+11,26.000000,13.000000,0.000000,5.000000,4.000000,2.000000,1.000000
max,365418.000000,9.274130e+11,329.000000,165.000000,1.000000,96.000000,65.000000,52.000000,41.000000

In [42]:
Math_9_Sedes = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Sedes/ResultadosSede_2012_MATEMATICAS_9.txt", delimiter = "|")

In [43]:
print("File Shape", Math_9_Sedes.shape)
print(shape_cols(Math_9_Sedes))
Math_9_Sedes.describe()

File Shape (4965, 10)
Columns found:  9
None

,ID_SEDE_JORNADA,CODIGO_DANE_SEDE,EVALUADOS,PARTICIPANTES,COPIA,INSUFICIENTE,MINIMO,SATISFACTORIO,AVANZADO
count,4965.000000,4.965000e+03,4965.000000,4965.000000,4958.000000,4965.000000,4965.000000,4965.000000,4965.000000
mean,253494.481772,2.012839e+11,52.221551,26.125478,0.240016,5.791541,14.843907,4.916213,0.537563
std,29178.836700,7.547422e+10,47.409174,23.705124,0.427136,6.630595,14.303561,7.559636,1.568619
min,178104.000000,1.050010e+11,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,239068.000000,1.410010e+11,16.000000,8.000000,0.000000,1.000000,4.000000,0.000000,0.000000
50%,256976.000000,2.086380e+11,37.000000,19.000000,0.000000,4.000000,10.000000,2.000000,0.000000
75%,274097.000000,2.477070e+11,74.000000,37.000000,0.000000,8.000000,21.000000,6.000000,0.000000
max,365380.000000,8.730010e+11,363.000000,180.000000,1.000000,56.000000,106.000000,82.000000,25.000000

### Valores Pausibles

In [2]:
VP_3 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Valores_Plausibles/ValoresPlausibles_2012_3-v1-1.txt", delimiter = "|")

In [4]:
VP_3.head()

,ID_HOJA,GRUPO,N,ESTRATO,APLICACION,GRADO,JORNADA,ESTABLECIMIENTO,ENTETERR,DEPARTAMENTO,...,LENG_SCORE3,LENG_SCORE4,LENG_SCORE5,MATE_COPIETAS,MATE_WEIGHT,MATE_SCORE1,MATE_SCORE2,MATE_SCORE3,MATE_SCORE4,MATE_SCORE5
0,V201230556475,1,1,1199O1219,X,3,183897,225885001001,34,25,...,NaN,NaN,NaN,0.0,1.0,216.76499,216.69724,209.00674,212.99075,215.55977
1,V201230383905,1,1,1199O1219,X,3,184314,295001003470,39,95,...,NaN,NaN,NaN,0.0,1.0,216.81257,253.18328,268.72285,253.01028,257.81026
2,V201230148086,1,1,1299O1109,X,3,232601,115600000014,15,15,...,227.0321,251.78533,224.07949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,V201230347085,1,1,1299O1109,X,3,250576,166383000012,56,66,...,NaN,NaN,NaN,0.0,1.0,208.91160,190.69777,221.02219,208.13671,191.99742
4,V201230091882,1,1,1299O1109,X,3,241475,185139000391,24,85,...,NaN,NaN,NaN,0.0,1.0,286.44651,340.79751,290.79310,314.74542,272.21597

In [3]:
print("File Shape", VP_3.shape)
print(shape_cols(VP_3))
VP_3.describe()

File Shape (744326, 33)
Columns found:  28
None

,GRUPO,N,GRADO,JORNADA,ESTABLECIMIENTO,ENTETERR,DEPARTAMENTO,MUNICIPIO,SEXO,SECTOR,...,LENG_SCORE3,LENG_SCORE4,LENG_SCORE5,MATE_COPIETAS,MATE_WEIGHT,MATE_SCORE1,MATE_SCORE2,MATE_SCORE3,MATE_SCORE4,MATE_SCORE5
count,744326.000000,744326.000000,744326.0,744326.000000,7.443260e+05,744326.000000,744326.000000,744326.000000,744326.0,744326.000000,...,372652.000000,372652.000000,372652.000000,371674.000000,371674.000000,371674.000000,371674.000000,371674.000000,371674.000000,371674.000000
mean,91.117747,84.881248,3.0,433028.767197,2.072585e+11,35.179170,34.272352,34531.513212,3.0,1.194334,...,300.589574,300.482154,300.513532,0.050143,2.209326,300.408430,300.461218,300.509962,300.442669,300.431124
std,26.563177,92.199552,0.0,319149.220342,9.081139e+10,25.266539,26.568991,26588.187809,0.0,0.395688,...,80.004375,79.960415,80.002458,0.218241,0.352567,80.011687,79.942480,80.015430,80.122130,79.892417
min,1.000000,1.000000,3.0,178101.000000,1.050010e+11,1.000000,5.000000,5001.000000,3.0,1.000000,...,-20.347870,-31.964810,-24.462990,0.000000,1.000000,-96.476400,-59.284660,-99.024520,-61.778000,-57.092630
25%,99.000000,28.000000,3.0,244948.000000,1.207100e+11,12.000000,11.000000,11001.000000,3.0,1.000000,...,244.089078,244.139295,244.108207,0.000000,2.000000,244.347220,244.301260,244.454980,244.199630,244.472280
50%,99.000000,56.000000,3.0,268652.000000,1.768340e+11,30.000000,23.000000,23570.000000,3.0,1.000000,...,294.264160,294.123260,294.052625,0.000000,2.111110,294.322260,294.367310,294.343160,294.240445,294.318290
75%,99.000000,109.000000,3.0,292442.000000,2.760010e+11,57.000000,54.000000,54673.000000,3.0,1.000000,...,350.979422,350.886898,350.838892,0.000000,2.272730,350.364130,350.551010,350.412430,350.574970,350.248800
max,99.000000,999.000000,3.0,999999.000000,8.479800e+11,94.000000,99.000000,99773.000000,3.0,2.000000,...,701.716790,750.212310,730.211370,1.000000,6.000000,701.318600,690.098940,678.815850,706.483310,689.566970

In [5]:
VP_5 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Valores_Plausibles/ValoresPlausibles_2012_5-v1-1.txt", delimiter = "|")

In [6]:
print("File Shape", VP_5.shape)
print(shape_cols(VP_5))
VP_5.describe()

File Shape (745063, 47)
Columns found:  42
None

,GRUPO,N,GRADO,JORNADA,ESTABLECIMIENTO,ENTETERR,DEPARTAMENTO,MUNICIPIO,SEXO,SECTOR,...,CIEN_SCORE3,CIEN_SCORE4,CIEN_SCORE5,COMP_COPIETAS,COMP_WEIGHT,COMP_SCORE1,COMP_SCORE2,COMP_SCORE3,COMP_SCORE4,COMP_SCORE5
count,745063.000000,745063.000000,745063.0,745063.000000,7.450630e+05,745063.000000,745063.000000,745063.000000,745063.000000,745063.00000,...,371539.000000,371539.000000,371539.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000,370491.000000
mean,91.309387,92.441078,5.0,431982.127173,2.037746e+11,34.782103,33.880515,34133.675113,1.511053,1.18831,...,305.128682,304.930408,305.176907,0.025391,2.212154,300.860676,301.003071,300.986889,300.923039,300.962899
std,26.258132,99.500599,0.0,318727.875845,8.980320e+10,25.233282,26.568389,26590.051236,0.521621,0.39096,...,86.886552,87.000353,87.290549,0.157309,0.398634,80.186269,80.311080,80.143689,80.151115,80.155252
min,1.000000,1.000000,5.0,178101.000000,1.050010e+11,1.000000,5.000000,5001.000000,1.000000,1.00000,...,-108.001480,-120.749090,-130.716060,0.000000,1.000000,-81.656770,-45.602920,-102.277440,-66.709870,-75.604200
25%,99.000000,30.000000,5.0,244836.000000,1.200010e+11,12.000000,11.000000,11001.000000,1.000000,1.00000,...,243.515810,243.086960,243.134825,0.000000,2.000000,243.113915,243.182690,243.310080,243.221020,243.222520
50%,99.000000,62.000000,5.0,268385.000000,1.761090e+11,30.000000,23.000000,23417.000000,1.000000,1.00000,...,297.440060,297.153640,297.411720,0.000000,2.095650,289.933200,290.028650,290.116580,289.918920,290.036920
75%,99.000000,121.000000,5.0,292220.000000,2.730670e+11,56.000000,54.000000,54518.000000,2.000000,1.00000,...,361.295655,361.280340,361.718000,0.000000,2.277030,351.248050,351.410770,351.401000,351.211220,351.168005
max,99.000000,1028.000000,5.0,999999.000000,8.548740e+11,94.000000,99.000000,99773.000000,3.000000,2.00000,...,738.503070,714.699520,728.622640,1.000000,6.000000,693.413950,699.082460,714.160890,695.834830,697.489840

In [7]:
VP_9 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Valores_Plausibles/ValoresPlausibles_2012_9-v1-1.txt", delimiter = "|")

In [8]:
print("File Shape", VP_9.shape)
print(shape_cols(VP_9))
VP_9.describe()

File Shape (569711, 47)
Columns found:  42
None

,GRUPO,N,GRADO,JORNADA,ESTABLECIMIENTO,ENTETERR,DEPARTAMENTO,MUNICIPIO,SEXO,SECTOR,...,CIEN_SCORE3,CIEN_SCORE4,CIEN_SCORE5,COMP_COPIETAS,COMP_WEIGHT,COMP_SCORE1,COMP_SCORE2,COMP_SCORE3,COMP_SCORE4,COMP_SCORE5
count,569711.000000,569711.000000,569711.0,569711.000000,5.697110e+05,569711.000000,569711.000000,569711.000000,569711.000000,569711.000000,...,284619.000000,284619.000000,284619.000000,284321.000000,284321.000000,284321.000000,284321.000000,284321.000000,284321.000000,284321.000000
mean,90.932590,108.280260,9.0,426445.408881,1.990501e+11,34.359484,33.286296,33517.720848,1.545687,1.205915,...,314.552005,314.662681,314.496085,0.016868,2.215102,300.419425,300.589212,300.501420,300.491782,300.478904
std,26.802173,96.197293,0.0,315665.172467,9.108535e+10,25.326294,26.614582,26638.816688,0.517199,0.404369,...,89.553864,89.843698,89.860358,0.128778,0.315916,80.238458,80.309627,80.175677,80.154719,80.215747
min,1.000000,1.000000,9.0,178101.000000,1.050010e+11,1.000000,5.000000,5001.000000,1.000000,1.000000,...,-27.384280,-49.917810,-62.738590,0.000000,1.000000,-4.769900,-32.342110,-9.532480,-8.059720,-17.784720
25%,99.000000,41.000000,9.0,244595.000000,1.170010e+11,12.000000,11.000000,11001.000000,1.000000,1.000000,...,250.530440,250.413030,250.333280,0.000000,2.042860,241.428910,241.688950,241.685740,241.611900,241.576580
50%,99.000000,82.000000,9.0,267944.000000,1.700010e+11,29.000000,23.000000,23001.000000,2.000000,1.000000,...,304.697540,305.007700,304.736810,0.000000,2.125000,296.647170,296.775580,296.688100,296.635930,296.689710
75%,99.000000,143.000000,9.0,290358.000000,2.761260e+11,57.000000,54.000000,54518.000000,2.000000,1.000000,...,369.490250,369.797610,369.618890,0.000000,2.267610,355.457030,355.375160,355.398440,355.368740,355.288480
max,99.000000,924.000000,9.0,999999.000000,8.548740e+11,94.000000,99.000000,99773.000000,3.000000,2.000000,...,768.337960,764.916570,734.310850,1.000000,6.000000,652.879600,696.774110,684.689500,682.471130,674.691620

### Complementarios

In [9]:
Entidades_2012 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Complementarios/Entidades_2012.txt", delimiter = "|")

In [10]:
print("File Shape", Entidades_2012.shape)
print(shape_cols(Entidades_2012))
Entidades_2012.describe()

File Shape (94, 4)
Columns found:  2
None

         ID_ENTE       TIPO
count  94.000000  94.000000
mean   47.500000   1.574468
std    27.279418   0.647399
min     1.000000   0.000000
25%    24.250000   1.000000
50%    47.500000   2.000000
75%    70.750000   2.000000
max    94.000000   2.000000

In [11]:
Establecimientos_2012 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Complementarios/Establecimientos_2012.txt", delimiter = "|")

In [12]:
print("File Shape", Establecimientos_2012.shape)
print(shape_cols(Establecimientos_2012))
Establecimientos_2012.describe()

File Shape (21627, 9)
Columns found:  7
None

,COD_DANE,ID_MUNICIPIO,ID_ENTE,ZONA,SECTOR,TIPO_ESTAB,NIVEL_SOCIO
count,2.162700e+04,21627.000000,21627.000000,21627.000000,21627.000000,21627.000000,21627.000000
mean,2.629658e+11,34841.224950,34.105747,1.482869,1.364729,2.190503,5.136542
std,8.794246e+10,27646.860685,26.014067,0.499718,0.481365,0.709005,3.462311
min,3.410011e+10,5001.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.055210e+11,8758.000000,11.000000,1.000000,1.000000,2.000000,2.000000
50%,2.526930e+11,23678.000000,30.000000,1.000000,1.000000,2.000000,4.000000
75%,3.130010e+11,54003.000000,54.000000,2.000000,2.000000,3.000000,9.000000
max,8.661700e+11,99773.000000,94.000000,2.000000,2.000000,3.000000,9.000000

In [13]:
Municipios_2012 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Complementarios/Municipios_2012.txt", delimiter = "|")

In [14]:
print("File Shape", Municipios_2012.shape)
print(shape_cols(Municipios_2012))
Municipios_2012.describe()

File Shape (1123, 2)
Columns found:  1
None

       ID_MUNICIPIO
count   1123.000000
mean   38640.077471
std    26510.438986
min     5001.000000
25%    15678.500000
50%    25839.000000
75%    66448.000000
max    99773.000000

In [15]:
Sedes_2012 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Datos_Censales/Complementarios/Sedes_2012.txt", delimiter = "|")

In [16]:
print("File Shape", Sedes_2012.shape)
print(shape_cols(Sedes_2012))
Sedes_2012.describe()

File Shape (57134, 5)
Columns found:  3
None

       ID_SEDE_JORNADA  CODIGO_DANE_SEDE  CODIGO_DANE_ESTAB
count     57134.000000      5.713400e+04       5.713400e+04
mean     257515.087549      2.417794e+11       2.317139e+11
std       27922.410574      8.518585e+10       7.985086e+10
min      178101.000000      3.410011e+10       3.410011e+10
25%      241767.250000      2.056150e+11       1.760010e+11
50%      258868.500000      2.270010e+11       2.238070e+11
75%      276081.750000      2.737700e+11       2.736240e+11
max      451378.000000      9.274130e+11       8.548740e+11

___

___

___

## Competencias Ciudadanas
### Bases de datos:

In [ ]:
Compt_Ciud_5 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Competencias_Ciudadanas/Bases_de_datos/competencias_ciudadanas5-v1-1.txt", delimiter = "|")

In [ ]:
 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Competencias_Ciudadanas/", delimiter = "|")

In [ ]:
 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Competencias_Ciudadanas/", delimiter = "|")

In [ ]:
 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Competencias_Ciudadanas/", delimiter = "|")

In [ ]:
 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Competencias_Ciudadanas/", delimiter = "|")

In [ ]:
 = pd.read_csv("../DatosFTPICFES/SABER359-R/Año_2012/Competencias_Ciudadanas/", delimiter = "|")