## Exploracion de Datos "Base de Datos"

<span style="color:red">
__**NO EJECUTAR LAS CELDAS QUE INICIAN CON EL CARACTER *"!"***__
</span>

falta arreglar los datos que quedaron extraños  
Y convertir a tipo numerico los datos que sean posibles para su procesado

In [2]:
import pandas as pd
%run -i ../tools/functions.py

### -Registros SABER Año 2000
de todos los archivos se estan cargando solo 20 lineas

In [2]:
#BD2000_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|", nrows = 20)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe7 in position 5: invalid continuation byte

Archivos Codificados en ISO-8859, se deben convertir a UTF-8 asi:  
!iconv -f [codificacion actual] -t [codificacion nueva] file.txt > newfile.txt

In [4]:
#!iconv -f [ISO-8859-1] -t [utf-8] ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt > ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0-utf8.txt

In [4]:
BD2000_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0-utf8.txt", delimiter="|", nrows = 20)
BD2000_1.head()

,ESTU_CONSECUTIVO,COLE_COD_ICFES,COLE_NOMBRE_SEDE,IND_ANNO_TERMINO_BACHILLERATO,COLE_JORNADA,COLE_VALOR_PENSION,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,...,ESTU_TRABAJA,ESTU_ACT_PROX_ANNO,COLE_CALENDARIO,COLE_BILINGUE,COLE_CARACTER,COLE_DEPTO_UBICACION,COLE_MCPIO_UBICACION,ESTU_TIPO_DOCUMENTO,ESTU_RESIDE_DEPTO,ESTU_RESIDE_MCPIO
0,SB11200010000203,83048,INSTITUTO STUDIUM,1999,C,3,F,19,3,1981,...,N,1,F,NaN,ACADEMICO,BOGOTA,BOGOTç D.C.,C,BOGOTA,BOGOTA D.C.
1,SB11200010000204,3327,COLEGIO HEBREO UNION,2000,C,8,F,28,4,1982,...,N,1,B,NaN,ACADEMICO,ATLANTICO,BARRANQUILLA,N,ATLANTICO,BARRANQUILLA
2,SB11200010000205,19364,COLEGIO ANGLO COLOMBIANO,2000,C,7,M,30,4,1982,...,N,2,B,1.0,ACADEMICO,BOGOTA,BOGOTç D.C.,T,BOGOTA,BOGOTA D.C.
3,SB11200010000206,19364,COLEGIO ANGLO COLOMBIANO,2000,C,7,M,6,8,1982,...,N,3,B,1.0,ACADEMICO,BOGOTA,BOGOTç D.C.,T,BOGOTA,BOGOTA D.C.
4,SB11200010000207,24281,COLEGIO SAN JORGE DE INGLATERRA,2000,C,7,F,16,4,1982,...,N,1,B,1.0,ACADEMICO,BOGOTA,BOGOTç D.C.,T,BOGOTA,BOGOTA D.C.

In [5]:
BD2000_1.iloc[2]

ESTU_CONSECUTIVO                         SB11200010000205
COLE_COD_ICFES                                      19364
COLE_NOMBRE_SEDE                 COLEGIO ANGLO COLOMBIANO
IND_ANNO_TERMINO_BACHILLERATO                        2000
COLE_JORNADA                                            C
COLE_VALOR_PENSION                                      7
ESTU_GENERO                                             M
ESTU_NACIMIENTO_DIA                                    30
ESTU_NACIMIENTO_MES                                     4
ESTU_NACIMIENTO_ANNO                                 1982
ESTU_DEPTO_PRESENTACION                            BOGOTA
ESTU_MCPIO_PRESENTACION                       BOGOTA D.C.
ESTU_LIMITA_INVIDENTE                                 NaN
ESTU_LIMITA_SORDOINTERPRETE                           NaN
ESTU_LIMITA_SORDONOINTERPRETE                         NaN
ESTU_LIMITA_MOTRIZ                                    NaN
PUNT_BIOLOGIA                                          59
PUNT_MATEMATICAS                                       58
PUNT_FILOSOFIA                                         44
PUNT_FISICA                                            60
PUNT_HISTORIA                                          50
PUNT_QUIMICA                                           68
PUNT_LENGUAJE                                          50
PUNT_GEOGRAFIA                                         43
COD_INTERDISCIPLINAR                                   43
PUNT_INTERDISCIPLINAR                                  53
COD_IDIOMA                                             51
PUNT_IDIOMA                                            75
ESTU_IES_COD_DESEADA                                 9999
ESTU_RAZONINSTITUTO                                     2
ESTU_CARRDESEADA_COD                                99999
ESTU_CARRDESEADA_RAZON                                  2
FAMI_PERSONAS_HOGAR                                     5
FAMI_VIVIENDA_PROPIA                                    S
FAMI_DEUDA_VIVIENDA                                     S
FAMI_APORTANTES                                         2
FAMI_INGRESO_FMILIAR_MENSUAL                            9
FAMI_LEE_ESCRIBE_PADRE                                  S
FAMI_LEE_ESCRIBE_MADRE                                  S
FAMI_EDUCA_PADRE                                        8
FAMI_EDUCA_MADRE                                        7
FAMI_OCUPA_PADRE                                        4
FAMI_OCUPA_MADRE                                        4
FAMI_NUM_HERMANOS                                       1
FAMI_NUM_HERMANOS_EDUSUPERIOR                           1
FAMI_POSICION_HERMANOS                                  2
FAMI_SOST_PERSONAL                                      T
ESTU_TRABAJA                                            N
ESTU_ACT_PROX_ANNO                                      2
COLE_CALENDARIO                                         B
COLE_BILINGUE                                           1
COLE_CARACTER                                   ACADEMICO
COLE_DEPTO_UBICACION                               BOGOTA
COLE_MCPIO_UBICACION                          BOGOTç D.C.
ESTU_TIPO_DOCUMENTO                                     T
ESTU_RESIDE_DEPTO                                  BOGOTA
ESTU_RESIDE_MCPIO                             BOGOTA D.C.
Name: 2, dtype: object

### Se hace lo mismo con los archivos restantes
se elimina el archivo anterior

In [8]:
#!iconv -f [ISO-8859-1] -t [utf-8] ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0.txt > ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0utf8.txt
#!rm ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0.txt

In [9]:
#!iconv -f [ISO-8859-1] -t [utf-8] ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20011-RGSTRO-CLFCCN-V1-0.txt > ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20011-RGSTRO-CLFCCN-V1-0utf8.txt
#!rm ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20011-RGSTRO-CLFCCN-V1-0.txt

In [10]:
#!iconv -f [ISO-8859-1] -t [utf-8] ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20012-RGSTRO-CLFCCN-V1-0.txt > ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20012-RGSTRO-CLFCCN-V1-0utf8.txt
#!rm ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20012-RGSTRO-CLFCCN-V1-0.txt

## Quedan Caracteres extraños cuando existe algun separador extraño... Arreglar eso

In [4]:
#BD2017_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20171-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="¬", nrows = 20)
#BD2017_1.head()

../tools/functions.py:1: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  def letters_to_num(obj):

### Vemos que aparecen caracteres extraños debido al separador utilizado (¬)
borramos estos simbolos extraños y cambiamos el separador por "|" asi:

Utilizamos la herramienta de linux "sed"

!sed -i 's/old_character/new_character/g' file.txt  
option -i: in place, save the changes in the same file  
option g: make the action in all of the file, not just in the first occurrence

In [19]:
#!sed -i 's/Â//g' ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20171-RGSTRO-CLFCCN-V1-0utf8.txt
#!sed -i 's/¬/|/g' ../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20171-RGSTRO-CLFCCN-V1-0utf8.txt

In [3]:
BD2017_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20171-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2017_1.index

RangeIndex(start=0, stop=20, step=1)

### Cargamos los archivos a objetos Pandas y Creamos los Describers

Desde el primer archivo se puede observar que existen mas de 20 columnas que no son numericas
  
Se evidencian campos de Femenino y Masculino, El estudiante trabaja SI/NO que pueden ser reemplazados por numeros

In [37]:
print("File Shape", BD2000_1.shape)
print(shape_cols(BD2000_1))
BD2000_1.describe()

File Shape (20, 57)
Columns found:  35
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,ESTU_CARRDESEADA_RAZON,FAMI_APORTANTES,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_EDUCA_PADRE,FAMI_EDUCA_MADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS_EDUSUPERIOR,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,18.000000,20.000000,20.000000,19.000000,20.000000,19.000000,18.000000,19.000000,20.000000,4.0
mean,36659.650000,1999.750000,3.750000,18.900000,6.350000,1980.700000,NaN,NaN,NaN,NaN,...,1.833333,1.300000,2.250000,4.473684,4.550000,5.736842,8.222222,0.789474,2.250000,1.0
std,26346.181298,0.444262,2.881429,8.908305,2.796144,2.536056,NaN,NaN,NaN,NaN,...,0.785905,0.470162,2.731396,2.245203,2.038446,2.844920,2.755861,0.854982,0.966546,0.0
min,3327.000000,1999.000000,1.000000,3.000000,3.000000,1973.000000,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,1.000000,1.0
25%,17872.250000,1999.750000,1.000000,11.000000,4.000000,1980.000000,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.000000,3.000000,3.000000,4.000000,5.750000,0.000000,1.000000,1.0
50%,30625.500000,2000.000000,3.000000,19.500000,5.500000,1982.000000,NaN,NaN,NaN,NaN,...,2.000000,1.000000,1.000000,4.000000,4.000000,5.000000,10.000000,1.000000,3.000000,1.0
75%,50823.000000,2000.000000,7.000000,27.250000,9.000000,1982.000000,NaN,NaN,NaN,NaN,...,2.000000,2.000000,4.000000,7.000000,7.000000,8.000000,10.000000,1.000000,3.000000,1.0
max,86520.000000,2000.000000,8.000000,30.000000,11.000000,1983.000000,NaN,NaN,NaN,NaN,...,3.000000,2.000000,9.000000,8.000000,8.000000,9.000000,10.000000,3.000000,3.000000,1.0

In [12]:
BD2000_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [38]:
print("File Shape", BD2000_2.shape)
print(shape_cols(BD2000_2))
BD2000_2.describe()

File Shape (20, 58)
Columns found:  37
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_ETNIA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,...,FAMI_PERSONAS_HOGAR,FAMI_APORTANTES,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_EDUCA_PADRE,FAMI_EDUCA_MADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS_EDUSUPERIOR,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,2.0,0.0,0.0,0.0,...,20.000000,19.000000,20.000000,15.000000,20.000000,15.00000,19.000000,18.000000,20.000000,0.0
mean,36220.500000,2000.0,5.250000,16.050000,5.650000,1980.500000,99.0,NaN,NaN,NaN,...,4.650000,1.421053,1.300000,3.800000,3.500000,7.20000,8.842105,0.111111,2.450000,NaN
std,32443.716723,0.0,3.075797,10.153947,3.842628,4.382981,0.0,NaN,NaN,NaN,...,1.631112,0.606977,0.978721,1.567528,1.357242,2.17781,2.409775,0.323381,0.887041,NaN
min,18.000000,2000.0,1.000000,2.000000,1.000000,1966.000000,99.0,NaN,NaN,NaN,...,2.000000,1.000000,0.000000,1.000000,1.000000,4.00000,4.000000,0.000000,1.000000,NaN
25%,1494.250000,2000.0,1.750000,6.000000,3.000000,1979.750000,99.0,NaN,NaN,NaN,...,3.750000,1.000000,1.000000,3.000000,3.000000,5.00000,8.000000,0.000000,1.750000,NaN
50%,33951.000000,2000.0,6.500000,18.000000,4.500000,1982.000000,99.0,NaN,NaN,NaN,...,4.000000,1.000000,1.000000,3.000000,3.000000,8.00000,10.000000,0.000000,3.000000,NaN
75%,60326.750000,2000.0,8.000000,26.250000,9.250000,1983.000000,99.0,NaN,NaN,NaN,...,6.000000,2.000000,2.000000,4.000000,4.000000,8.00000,10.000000,0.000000,3.000000,NaN
max,89862.000000,2000.0,8.000000,31.000000,12.000000,1984.000000,99.0,NaN,NaN,NaN,...,8.000000,3.000000,3.000000,7.000000,7.000000,12.00000,12.000000,1.000000,3.000000,NaN

In [15]:
BD2001_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20011-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2001_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20012-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [39]:
print("File Shape", BD2001_1.shape)
print(shape_cols(BD2001_1))
BD2001_1.describe()

File Shape (20, 57)
Columns found:  36
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,FAMI_APORTANTES,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_EDUCA_PADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS,FAMI_NUM_HERMANOS_EDUSUPERIOR,FAMI_POSICION_HERMANOS,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,20.000000,20.000000,17.000000,18.000000,20.000000,19.000000,18.000000,20.000000,20.000000,0.0
mean,53549.800000,2001.0,4.300000,16.600000,5.450000,1983.200000,NaN,NaN,NaN,NaN,...,1.650000,1.000000,2.941176,7.611111,8.550000,2.315789,0.444444,2.000000,2.750000,NaN
std,31153.845796,0.0,3.262224,7.890034,2.818641,1.542384,NaN,NaN,NaN,NaN,...,0.933302,1.123903,0.899346,2.252812,1.932411,1.529438,0.783823,1.414214,0.638666,NaN
min,18929.000000,2001.0,1.000000,3.000000,1.000000,1979.000000,NaN,NaN,NaN,NaN,...,1.000000,0.000000,1.000000,3.000000,4.000000,0.000000,0.000000,1.000000,1.000000,NaN
25%,18990.000000,2001.0,1.000000,10.750000,3.750000,1982.000000,NaN,NaN,NaN,NaN,...,1.000000,0.000000,3.000000,6.500000,8.000000,1.000000,0.000000,1.000000,3.000000,NaN
50%,43772.500000,2001.0,3.000000,17.000000,5.500000,1983.500000,NaN,NaN,NaN,NaN,...,1.500000,1.000000,3.000000,8.000000,10.000000,2.000000,0.000000,1.000000,3.000000,NaN
75%,89094.000000,2001.0,8.000000,22.500000,7.000000,1984.000000,NaN,NaN,NaN,NaN,...,2.000000,1.000000,3.000000,8.000000,10.000000,3.500000,1.000000,3.000000,3.000000,NaN
max,89474.000000,2001.0,8.000000,28.000000,11.000000,1985.000000,NaN,NaN,NaN,NaN,...,5.000000,4.000000,5.000000,12.000000,10.000000,5.000000,3.000000,6.000000,3.000000,NaN

In [40]:
print("File Shape", BD2001_2.shape)
print(shape_cols(BD2001_2))
BD2001_2.describe()

File Shape (20, 57)
Columns found:  36
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,FAMI_VIVIENDA_PROPIA,FAMI_DEUDA_VIVIENDA,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_EDUCA_PADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS_EDUSUPERIOR,FAMI_POSICION_HERMANOS,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.00000,20.0,0.0,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,18.000000,18.000000,0.0,0.0,20.000000,19.000000,20.00000,0.0
mean,34189.20000,2001.0,NaN,14.500000,5.600000,1982.850000,NaN,NaN,NaN,NaN,...,NaN,NaN,1.500000,3.333333,NaN,NaN,0.350000,1.947368,2.50000,NaN
std,27961.11242,0.0,NaN,10.018404,3.315038,3.281126,NaN,NaN,NaN,NaN,...,NaN,NaN,0.857493,0.970143,NaN,NaN,0.587143,0.970320,0.82717,NaN
min,59.00000,2001.0,NaN,2.000000,2.000000,1972.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,1.000000,NaN,NaN,0.000000,1.000000,1.00000,NaN
25%,1617.50000,2001.0,NaN,6.000000,3.000000,1982.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,3.000000,NaN,NaN,0.000000,1.000000,2.00000,NaN
50%,35704.50000,2001.0,NaN,12.000000,5.000000,1984.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,3.000000,NaN,NaN,0.000000,2.000000,3.00000,NaN
75%,49074.00000,2001.0,NaN,23.000000,8.250000,1985.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,1.750000,4.000000,NaN,NaN,1.000000,2.000000,3.00000,NaN
max,84012.00000,2001.0,NaN,31.000000,11.000000,1986.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,3.000000,6.000000,NaN,NaN,2.000000,5.000000,3.00000,NaN

In [16]:
BD2002_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20021-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2002_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20022-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [41]:
print("File Shape", BD2002_1.shape)
print(shape_cols(BD2002_1))
BD2002_1.describe()

File Shape (20, 57)
Columns found:  33
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,FAMI_APORTANTES,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS,FAMI_NUM_HERMANOS_EDUSUPERIOR,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,20.00000,19.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,14.000000,20.000000,14.000000,19.000000,20.000000,19.0,19.000000,20.000000,20.000000,0.0
mean,15459.750000,2001.85000,4.789474,15.600000,8.100000,1982.800000,NaN,NaN,NaN,NaN,...,4.642857,64379.600000,2.000000,1.842105,0.500000,9.0,3.105263,0.850000,2.400000,NaN
std,15986.335793,0.48936,3.505217,9.173187,3.210181,1.704483,NaN,NaN,NaN,NaN,...,1.446861,31445.301986,1.300887,0.688247,0.606977,2.0,2.558097,1.496487,0.820783,NaN
min,11775.000000,2000.00000,1.000000,2.000000,1.000000,1979.000000,NaN,NaN,NaN,NaN,...,2.000000,12151.000000,1.000000,1.000000,0.000000,5.0,0.000000,0.000000,1.000000,NaN
25%,11874.000000,2002.00000,1.000000,7.250000,5.000000,1982.000000,NaN,NaN,NaN,NaN,...,3.250000,44111.000000,1.000000,1.000000,0.000000,10.0,1.500000,0.000000,2.000000,NaN
50%,11890.000000,2002.00000,8.000000,17.500000,9.000000,1983.000000,NaN,NaN,NaN,NaN,...,5.000000,48186.000000,1.500000,2.000000,0.000000,10.0,2.000000,0.000000,3.000000,NaN
75%,11890.000000,2002.00000,8.000000,22.250000,11.000000,1984.000000,NaN,NaN,NaN,NaN,...,5.750000,99999.000000,2.750000,2.000000,1.000000,10.0,4.000000,1.000000,3.000000,NaN
max,83378.000000,2002.00000,8.000000,31.000000,12.000000,1985.000000,NaN,NaN,NaN,NaN,...,7.000000,99999.000000,5.000000,3.000000,2.000000,10.0,9.000000,5.000000,3.000000,NaN

In [42]:
print("File Shape", BD2002_2.shape)
print(shape_cols(BD2002_2))
BD2002_2.describe()

File Shape (20, 57)
Columns found:  35
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,ESTU_CARRDESEADA_RAZON,FAMI_PERSONAS_HOGAR,FAMI_APORTANTES,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS,FAMI_NUM_HERMANOS_EDUSUPERIOR,FAMI_POSICION_HERMANOS,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,20.0,19.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,20.000000,20.000000,19.000000,20.000000,19.000000,18.000000,17.000000,20.000000,19.000000,0.0
mean,28219.550000,2002.0,5.631579,17.000000,6.250000,1984.850000,NaN,NaN,NaN,NaN,...,2.650000,4.550000,1.263158,1.050000,7.947368,1.555556,0.470588,1.800000,2.263158,NaN
std,28802.297384,0.0,2.909955,7.601939,3.552242,1.565248,NaN,NaN,NaN,NaN,...,1.460894,1.394538,0.561951,0.759155,2.990238,0.983524,0.624264,0.894427,0.991189,NaN
min,12054.000000,2002.0,1.000000,3.000000,1.000000,1980.000000,NaN,NaN,NaN,NaN,...,1.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,NaN
25%,12211.000000,2002.0,3.500000,10.750000,3.000000,1984.000000,NaN,NaN,NaN,NaN,...,2.000000,4.000000,1.000000,0.750000,5.000000,1.000000,0.000000,1.000000,1.000000,NaN
50%,12260.000000,2002.0,8.000000,19.500000,5.500000,1985.000000,NaN,NaN,NaN,NaN,...,2.000000,4.000000,1.000000,1.000000,10.000000,1.500000,0.000000,2.000000,3.000000,NaN
75%,30273.250000,2002.0,8.000000,22.000000,10.000000,1986.000000,NaN,NaN,NaN,NaN,...,3.000000,5.000000,1.000000,2.000000,10.000000,2.000000,1.000000,2.000000,3.000000,NaN
max,99994.000000,2002.0,8.000000,28.000000,12.000000,1986.000000,NaN,NaN,NaN,NaN,...,6.000000,8.000000,3.000000,2.000000,12.000000,4.000000,2.000000,4.000000,3.000000,NaN

In [17]:
BD2003_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20031-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2003_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20032-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [43]:
print("File Shape", BD2003_1.shape)
print(shape_cols(BD2003_1))
BD2003_1.describe()

File Shape (20, 57)
Columns found:  37
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,FAMI_APORTANTES,FAMI_EDUCA_PADRE,FAMI_EDUCA_MADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS,FAMI_NUM_HERMANOS_EDUSUPERIOR,FAMI_POSICION_HERMANOS,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,20.0,18.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,20.000000,15.000000,17.000000,17.000000,20.000000,18.000000,18.000000,19.000000,20.000000,0.0
mean,21945.500000,2003.0,5.333333,13.950000,5.850000,1984.900000,NaN,NaN,NaN,NaN,...,1.700000,3.600000,3.352941,7.058824,9.200000,2.500000,0.666667,2.842105,2.600000,NaN
std,11537.410959,0.0,3.447079,8.319128,3.281126,1.618967,NaN,NaN,NaN,NaN,...,1.031095,1.454058,0.492592,2.014652,1.823819,1.294786,1.028992,1.893356,0.820783,NaN
min,18788.000000,2003.0,1.000000,1.000000,1.000000,1981.000000,NaN,NaN,NaN,NaN,...,1.000000,1.000000,3.000000,3.000000,5.000000,1.000000,0.000000,1.000000,1.000000,NaN
25%,18788.000000,2003.0,1.000000,7.500000,3.000000,1984.000000,NaN,NaN,NaN,NaN,...,1.000000,3.000000,3.000000,6.000000,10.000000,2.000000,0.000000,2.000000,3.000000,NaN
50%,18960.000000,2003.0,8.000000,16.000000,5.500000,1985.000000,NaN,NaN,NaN,NaN,...,1.000000,3.000000,3.000000,8.000000,10.000000,2.000000,0.000000,2.000000,3.000000,NaN
75%,18960.000000,2003.0,8.000000,20.500000,8.000000,1986.000000,NaN,NaN,NaN,NaN,...,2.000000,4.000000,4.000000,8.000000,10.000000,3.000000,1.000000,3.000000,3.000000,NaN
max,69971.000000,2003.0,8.000000,28.000000,12.000000,1988.000000,NaN,NaN,NaN,NaN,...,5.000000,7.000000,4.000000,12.000000,10.000000,6.000000,4.000000,9.000000,3.000000,NaN

In [44]:
print("File Shape", BD2003_2.shape)
print(shape_cols(BD2003_2))
BD2003_2.describe()

File Shape (20, 57)
Columns found:  34
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,FAMI_PERSONAS_HOGAR,FAMI_APORTANTES,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_EDUCA_PADRE,FAMI_EDUCA_MADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS_EDUSUPERIOR,ESTU_ACT_PROX_ANNO,COLE_BILINGUE
count,20.000000,19.0,19.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,19.000000,19.000000,19.000000,16.000000,17.000000,16.000000,17.000000,15.000000,19.000000,0.0
mean,48560.900000,2003.0,6.263158,12.050000,5.850000,1985.050000,NaN,NaN,NaN,NaN,...,4.947368,1.526316,0.947368,4.187500,3.705882,6.687500,8.647059,0.533333,2.263158,NaN
std,37722.899653,0.0,2.725234,6.824684,3.328901,1.468081,NaN,NaN,NaN,NaN,...,1.682382,0.772328,0.705036,1.869715,1.212678,2.023817,2.289683,0.516398,0.991189,NaN
min,59.000000,2003.0,1.000000,2.000000,1.000000,1982.000000,NaN,NaN,NaN,NaN,...,3.000000,1.000000,0.000000,1.000000,1.000000,4.000000,5.000000,0.000000,1.000000,NaN
25%,2196.250000,2003.0,4.000000,7.500000,3.000000,1984.000000,NaN,NaN,NaN,NaN,...,4.000000,1.000000,0.500000,3.000000,3.000000,5.000000,6.000000,0.000000,1.000000,NaN
50%,55202.500000,2003.0,8.000000,10.500000,5.500000,1985.000000,NaN,NaN,NaN,NaN,...,4.000000,1.000000,1.000000,4.000000,4.000000,6.000000,10.000000,1.000000,3.000000,NaN
75%,77365.250000,2003.0,8.000000,17.250000,8.250000,1986.000000,NaN,NaN,NaN,NaN,...,5.500000,2.000000,1.000000,4.500000,4.000000,8.000000,10.000000,1.000000,3.000000,NaN
max,104430.000000,2003.0,8.000000,26.000000,12.000000,1987.000000,NaN,NaN,NaN,NaN,...,8.000000,3.000000,2.000000,8.000000,7.000000,12.000000,12.000000,1.000000,3.000000,NaN

In [18]:
BD2004_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20041-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2004_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20042-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [45]:
print("File Shape", BD2004_1.shape)
print(shape_cols(BD2004_1))
BD2004_1.describe()

File Shape (20, 58)
Columns found:  37
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,FAMI_INGRESO_FMILIAR_MENSUAL,FAMI_EDUCA_PADRE,FAMI_EDUCA_MADRE,FAMI_OCUPA_PADRE,FAMI_OCUPA_MADRE,FAMI_NUM_HERMANOS,FAMI_NUM_HERMANOS_EDUSUPERIOR,ESTU_ACT_PROX_ANNO,FAMI_ESTRATO_VIVIENDA,COLE_BILINGUE
count,20.000000,17.0,17.000000,19.000000,19.000000,19.000000,0.0,0.0,0.0,0.0,...,16.000000,16.000000,17.000000,16.000000,15.000000,17.000000,8.000000,17.000000,17.000000,0.0
mean,47529.600000,2004.0,3.117647,18.105263,5.473684,1986.421053,NaN,NaN,NaN,NaN,...,1.125000,4.125000,4.058824,6.000000,8.333333,4.000000,2.250000,1.588235,2.117647,NaN
std,35332.233343,0.0,2.735927,9.637281,3.657085,0.901591,NaN,NaN,NaN,NaN,...,0.718795,2.028957,1.599632,2.633122,2.410295,2.573908,1.164965,0.939336,0.992620,NaN
min,18028.000000,2004.0,1.000000,1.000000,1.000000,1985.000000,NaN,NaN,NaN,NaN,...,0.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,NaN
25%,18093.000000,2004.0,1.000000,10.000000,3.000000,1986.000000,NaN,NaN,NaN,NaN,...,1.000000,3.000000,3.000000,4.750000,7.000000,2.000000,1.000000,1.000000,1.000000,NaN
50%,27449.500000,2004.0,1.000000,23.000000,4.000000,1986.000000,NaN,NaN,NaN,NaN,...,1.000000,4.000000,4.000000,5.500000,10.000000,3.000000,2.500000,1.000000,2.000000,NaN
75%,71514.750000,2004.0,5.000000,25.500000,8.000000,1987.000000,NaN,NaN,NaN,NaN,...,2.000000,5.000000,4.000000,8.000000,10.000000,6.000000,3.000000,3.000000,3.000000,NaN
max,112268.000000,2004.0,8.000000,30.000000,12.000000,1988.000000,NaN,NaN,NaN,NaN,...,2.000000,8.000000,7.000000,12.000000,10.000000,9.000000,4.000000,3.000000,4.000000,NaN

In [46]:
print("File Shape", BD2004_2.shape)
print(shape_cols(BD2004_2))
BD2004_2.describe()

File Shape (20, 40)
Columns found:  27
None

,COLE_COD_ICFES,IND_ANNO_TERMINO_BACHILLERATO,COLE_VALOR_PENSION,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_SORDOINTERPRETE,ESTU_LIMITA_SORDONOINTERPRETE,ESTU_LIMITA_MOTRIZ,...,PUNT_GEOGRAFIA,COD_INTERDISCIPLINAR,PUNT_INTERDISCIPLINAR,COD_IDIOMA,PUNT_IDIOMA,ESTU_IES_COD_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,COLE_BILINGUE
count,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.0,20.000000,16.000000,14.000000,16.000000,17.000000,0.0
mean,99774.100000,2004.0,0.700000,12.550000,7.300000,1986.900000,NaN,NaN,NaN,NaN,...,52.429000,43.500000,50.709000,51.0,39.266000,2506.000000,5.357143,4625.750000,1.764706,NaN
std,20937.739754,0.0,0.470162,9.011542,3.278318,1.333772,NaN,NaN,NaN,NaN,...,6.301066,0.688247,11.464992,0.0,5.513828,2633.625056,2.590133,5496.341953,0.752447,NaN
min,68601.000000,2004.0,0.000000,1.000000,2.000000,1983.000000,NaN,NaN,NaN,NaN,...,42.260000,43.000000,23.240000,51.0,30.840000,1111.000000,2.000000,267.000000,1.000000,NaN
25%,68601.000000,2004.0,0.000000,5.500000,4.750000,1986.750000,NaN,NaN,NaN,NaN,...,46.810000,43.000000,45.947500,51.0,35.020000,1111.000000,3.250000,273.000000,1.000000,NaN
50%,113134.000000,2004.0,1.000000,11.000000,8.000000,1987.000000,NaN,NaN,NaN,NaN,...,53.680000,43.000000,54.955000,51.0,36.790000,1460.500000,5.000000,4079.000000,2.000000,NaN
75%,113134.000000,2004.0,1.000000,17.500000,9.250000,1988.000000,NaN,NaN,NaN,NaN,...,56.400000,44.000000,56.610000,51.0,42.987500,2044.250000,8.000000,5376.000000,2.000000,NaN
max,113134.000000,2004.0,1.000000,30.000000,12.000000,1988.000000,NaN,NaN,NaN,NaN,...,69.140000,45.000000,73.300000,51.0,48.900000,9104.000000,8.000000,19016.000000,3.000000,NaN

In [19]:
BD2005_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20051-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2005_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20052-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [47]:
print("File Shape", BD2005_1.shape)
print(shape_cols(BD2005_1))
BD2005_1.describe()

File Shape (20, 83)
Columns found:  50
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,COLE_VALOR_PENSION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,DESEMP_IDIOMA,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,0.0,0.0,16.000000,16.000000,17.000000,16.000000,17.000000,0.0,20.000000
mean,20051.0,18.400000,7.300000,1987.650000,16.500000,NaN,NaN,NaN,NaN,NaN,...,3.200000,NaN,NaN,1350.875000,37563.500000,4.000000,11329.125000,2.117647,NaN,375.900000
std,0.0,8.923063,3.096688,1.308877,1.357242,NaN,NaN,NaN,NaN,NaN,...,2.375312,NaN,NaN,440.079671,32678.165493,1.936492,4595.605218,1.166316,NaN,294.447547
min,20051.0,2.000000,2.000000,1986.000000,12.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,1101.000000,5001.000000,2.000000,143.000000,1.000000,NaN,10.000000
25%,20051.0,9.750000,5.000000,1987.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,1201.000000,9501.000000,3.000000,10335.750000,1.000000,NaN,138.750000
50%,20051.0,21.000000,7.000000,1988.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,3.000000,NaN,NaN,1203.000000,19001.000000,3.000000,12108.500000,2.000000,NaN,389.000000
75%,20051.0,26.000000,10.000000,1988.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,4.500000,NaN,NaN,1205.250000,76001.000000,6.000000,14959.000000,3.000000,NaN,539.250000
max,20051.0,30.000000,12.000000,1992.000000,18.000000,NaN,NaN,NaN,NaN,NaN,...,7.000000,NaN,NaN,2849.000000,76001.000000,8.000000,15850.000000,5.000000,NaN,936.000000

In [48]:
print("File Shape", BD2005_2.shape)
print(shape_cols(BD2005_2))
BD2005_2.describe()

File Shape (20, 82)
Columns found:  49
None

,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_SORDOINTERPRETE,...,COLE_VALOR_PENSION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,DESEMP_IDIOMA,ESTU_PUESTO
count,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,20.000000,0.0,0.0,20.000000,20.0,20.00000,20.000000,19.000000,0.0,20.0000
mean,17.100000,7.550000,1988.700000,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,...,4.300000,NaN,NaN,1363.600000,11001.0,3.50000,12214.650000,2.526316,NaN,377.0000
std,10.612307,3.017057,1.525226,1.500877,NaN,NaN,NaN,NaN,NaN,NaN,...,1.525226,NaN,NaN,519.913799,0.0,1.90567,3952.378208,1.218762,NaN,289.2735
min,2.000000,2.000000,1987.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,1101.000000,11001.0,2.00000,1883.000000,1.000000,NaN,9.0000
25%,7.750000,5.500000,1988.000000,15.750000,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000,NaN,NaN,1101.000000,11001.0,2.00000,11477.750000,2.000000,NaN,137.2500
50%,17.000000,8.000000,1988.000000,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,NaN,NaN,1101.000000,11001.0,3.00000,12907.500000,2.000000,NaN,285.0000
75%,27.250000,10.000000,1989.000000,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,NaN,NaN,1301.000000,11001.0,3.25000,14064.000000,2.500000,NaN,711.2500
max,31.000000,12.000000,1994.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,NaN,NaN,2811.000000,11001.0,8.00000,18167.000000,6.000000,NaN,784.0000

In [20]:
BD2006_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20061-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2006_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20062-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [49]:
print("File Shape", BD2006_1.shape)
print(shape_cols(BD2006_1))
BD2006_1.describe()

File Shape (20, 85)
Columns found:  53
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,COLE_VALOR_PENSION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,DESEMP_IDIOMA,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,0.0,0.0,2.0,2.0,15.000000,2.000000,15.000000,0.0,20.000000
mean,20061.0,14.350000,6.550000,1988.350000,16.800000,NaN,NaN,NaN,NaN,NaN,...,2.900000,NaN,NaN,1203.0,76001.0,3.133333,15335.500000,2.600000,NaN,418.550000
std,0.0,9.538151,3.748333,1.225819,1.281447,NaN,NaN,NaN,NaN,NaN,...,2.881885,NaN,NaN,0.0,0.0,0.833809,4465.379323,1.055597,NaN,334.098548
min,20061.0,2.000000,1.000000,1986.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,1203.0,76001.0,2.000000,12178.000000,1.000000,NaN,4.000000
25%,20061.0,7.250000,3.000000,1988.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,1203.0,76001.0,3.000000,13756.750000,2.000000,NaN,91.000000
50%,20061.0,12.500000,7.500000,1988.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,2.000000,NaN,NaN,1203.0,76001.0,3.000000,15335.500000,3.000000,NaN,442.500000
75%,20061.0,24.000000,9.250000,1989.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,7.000000,NaN,NaN,1203.0,76001.0,3.000000,16914.250000,3.000000,NaN,723.750000
max,20061.0,30.000000,12.000000,1990.000000,19.000000,NaN,NaN,NaN,NaN,NaN,...,7.000000,NaN,NaN,1203.0,76001.0,6.000000,18493.000000,5.000000,NaN,925.000000

In [50]:
print("File Shape", BD2006_2.shape)
print(shape_cols(BD2006_2))
BD2006_2.describe()

File Shape (20, 85)
Columns found:  53
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,COLE_VALOR_PENSION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,DESEMP_IDIOMA,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,0.0,0.0,14.000000,14.000000,20.000000,13.000000,20.000000,0.0,20.000000
mean,20062.0,16.050000,6.450000,1988.750000,16.800000,NaN,NaN,NaN,NaN,NaN,...,4.550000,NaN,NaN,1888.214286,32151.142857,3.050000,13664.384615,1.800000,NaN,311.950000
std,0.0,9.264959,3.068945,2.769667,2.858045,NaN,NaN,NaN,NaN,NaN,...,2.818641,NaN,NaN,2096.989570,24106.701060,0.825578,3385.874002,0.833509,NaN,353.686819
min,20062.0,1.000000,1.000000,1979.000000,12.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,1101.000000,11001.000000,1.000000,7320.000000,1.000000,NaN,1.000000
25%,20062.0,7.750000,5.000000,1988.750000,15.750000,NaN,NaN,NaN,NaN,NaN,...,1.750000,NaN,NaN,1107.000000,11501.000000,3.000000,11422.000000,1.000000,NaN,30.750000
50%,20062.0,17.500000,6.500000,1989.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,6.000000,NaN,NaN,1211.000000,21088.000000,3.000000,14567.000000,2.000000,NaN,109.500000
75%,20062.0,23.500000,9.250000,1990.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,7.000000,NaN,NaN,1711.000000,50001.000000,3.000000,15280.000000,2.000000,NaN,553.250000
max,20062.0,29.000000,11.000000,1994.000000,27.000000,NaN,NaN,NaN,NaN,NaN,...,7.000000,NaN,NaN,9104.000000,70001.000000,5.000000,18534.000000,4.000000,NaN,940.000000

In [21]:
BD2007_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20071-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2007_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20072-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [51]:
print("File Shape", BD2007_1.shape)
print(shape_cols(BD2007_1))
BD2007_1.describe()

File Shape (20, 84)
Columns found:  53
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,COLE_VALOR_PENSION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,DESEMP_INGLES,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.00000,0.0,0.0,10.000000,10.000000,13.000000,9.000000,14.000000,0.0,20.000000
mean,20071.0,16.150000,8.350000,1990.250000,15.850000,NaN,NaN,NaN,NaN,NaN,...,0.25000,NaN,NaN,1327.300000,65901.000000,5.769231,11169.222222,2.214286,NaN,524.750000
std,0.0,8.215999,3.437793,1.551739,1.531253,NaN,NaN,NaN,NaN,NaN,...,0.55012,NaN,NaN,252.830664,5404.730438,1.535895,5317.608268,1.311404,NaN,269.257434
min,20071.0,2.000000,1.000000,1987.000000,12.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,NaN,NaN,1203.000000,63001.000000,3.000000,3004.000000,1.000000,NaN,85.000000
25%,20071.0,10.750000,5.750000,1990.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,NaN,NaN,1208.000000,63001.000000,5.000000,6104.000000,1.000000,NaN,294.250000
50%,20071.0,16.000000,10.000000,1990.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,NaN,NaN,1208.000000,63001.000000,5.000000,12475.000000,2.000000,NaN,556.000000
75%,20071.0,21.250000,11.000000,1990.250000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,NaN,NaN,1208.000000,65251.000000,7.000000,16268.000000,2.750000,NaN,714.750000
max,20071.0,30.000000,12.000000,1994.000000,19.000000,NaN,NaN,NaN,NaN,NaN,...,2.00000,NaN,NaN,1809.000000,76001.000000,8.000000,16548.000000,5.000000,NaN,958.000000

In [52]:
print("File Shape", BD2007_2.shape)
print(shape_cols(BD2007_2))
BD2007_2.describe()

File Shape (20, 84)
Columns found:  52
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,ESTU_HORAS_TRABAJA,COLE_VALOR_PENSION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.00000,20.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,20.000000,0.0,0.0,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,20072.0,14.100000,7.000000,1990.25000,16.200000,NaN,NaN,NaN,NaN,NaN,...,NaN,1.400000,NaN,NaN,2442.400000,39351.00000,4.100000,14917.100000,2.600000,433.500000
std,0.0,9.256008,3.195391,0.71635,0.615587,NaN,NaN,NaN,NaN,NaN,...,NaN,1.957442,NaN,NaN,2897.575872,31362.52373,1.889026,4191.713792,1.391705,294.737796
min,20072.0,1.000000,1.000000,1989.00000,15.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,1102.000000,5001.00000,1.000000,1995.000000,1.000000,20.000000
25%,20072.0,5.750000,5.750000,1990.00000,16.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,1111.000000,5001.00000,3.000000,14477.000000,1.750000,177.250000
50%,20072.0,13.500000,8.000000,1990.00000,16.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,1111.000000,66001.00000,3.000000,14971.500000,2.000000,409.000000
75%,20072.0,21.500000,9.000000,1991.00000,17.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,4.000000,NaN,NaN,1351.500000,66001.00000,5.000000,16849.250000,3.250000,677.000000
max,20072.0,30.000000,12.000000,1992.00000,17.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,4.000000,NaN,NaN,9112.000000,76001.00000,8.000000,22478.000000,5.000000,859.000000

In [22]:
BD2008_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20081-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2008_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20082-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [53]:
print("File Shape", BD2008_1.shape)
print(shape_cols(BD2008_1))
BD2008_1.describe()

File Shape (20, 83)
Columns found:  54
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_DESEADA_NOMBRE,ESTU_IES_COD_MPIO_DESEADA,ESTU_IES_MPIO_DESEADA,ESTU_IES_DEPT_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,ESTU_PUESTO
count,20.0,20.000000,20.0000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.000000
mean,20081.0,15.150000,6.1500,1990.700000,16.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,593.650000
std,0.0,10.434129,3.8563,0.864505,0.760886,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.386319
min,20081.0,1.000000,1.0000,1989.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000
25%,20081.0,6.750000,3.0000,1990.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,431.500000
50%,20081.0,13.000000,6.0000,1991.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,665.500000
75%,20081.0,24.000000,10.0000,1991.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,816.750000
max,20081.0,31.000000,12.0000,1993.000000,18.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,964.000000

In [54]:
print("File Shape", BD2008_2.shape)
print(shape_cols(BD2008_2))
BD2008_2.describe()

File Shape (20, 91)
Columns found:  59
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,ESTU_VECES_ESTADO,ESTU_COD_MCPIO_PRESENTACION,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.00000,1.0,1.0,1.0,1.0,0.0,0.0,0.0,20.000000
mean,20082.0,12.000000,6.100000,1990.300000,17.250000,NaN,NaN,NaN,NaN,NaN,...,0.150000,14907.40000,2.0,41.0,1827.0,17001.0,NaN,NaN,NaN,361.000000
std,0.0,8.967779,3.611386,1.454575,1.618154,NaN,NaN,NaN,NaN,NaN,...,0.366348,4502.00198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.457415
min,20082.0,1.000000,1.000000,1986.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,5376.00000,2.0,41.0,1827.0,17001.0,NaN,NaN,NaN,6.000000
25%,20082.0,3.750000,3.000000,1990.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,11001.00000,2.0,41.0,1827.0,17001.0,NaN,NaN,NaN,112.500000
50%,20082.0,11.000000,6.000000,1991.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,17001.00000,2.0,41.0,1827.0,17001.0,NaN,NaN,NaN,359.500000
75%,20082.0,17.000000,9.000000,1991.000000,18.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,17001.00000,2.0,41.0,1827.0,17001.0,NaN,NaN,NaN,588.500000
max,20082.0,30.000000,12.000000,1992.000000,22.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,25754.00000,2.0,41.0,1827.0,17001.0,NaN,NaN,NaN,803.000000

In [23]:
BD2009_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20091-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2009_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20092-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [55]:
print("File Shape", BD2009_1.shape)
print(shape_cols(BD2009_1))
BD2009_1.describe()

File Shape (20, 97)
Columns found:  65
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,ESTU_VECES_ESTADO,ESTU_CARRDESEADA_TIPO,ESTU_CARRDESEADA_NUCLEO,ESTU_IES_COD_DESEADA,ESTU_IES_COD_MPIO_DESEADA,ESTU_RAZONINSTITUTO,ESTU_CARRDESEADA_COD,ESTU_CARRDESEADA_RAZON,ESTU_COD_MCPIO_PRESENTACION,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.00000,15.000000,15.000000,20.000000,20.00000,20.000000,0.0,20.000000,20.000000,20.000000
mean,20091.0,15.450000,7.600000,1991.900000,16.200000,NaN,NaN,NaN,NaN,NaN,...,0.25000,2.933333,30.733333,1328.800000,73101.00000,3.100000,NaN,2.650000,74365.650000,629.600000
std,0.0,8.970566,3.408967,0.718185,0.615587,NaN,NaN,NaN,NaN,NaN,...,0.55012,0.258199,22.317407,583.202285,7552.62241,0.967906,NaN,1.755443,7650.352247,241.516786
min,20091.0,1.000000,1.000000,1990.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,2.000000,6.000000,1111.000000,52001.00000,2.000000,NaN,1.000000,52001.000000,148.000000
25%,20091.0,7.500000,5.000000,1992.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,3.000000,19.500000,1203.000000,76001.00000,3.000000,NaN,1.000000,76892.000000,460.000000
50%,20091.0,15.500000,8.500000,1992.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,3.000000,27.000000,1203.000000,76001.00000,3.000000,NaN,2.500000,76892.000000,704.500000
75%,20091.0,22.250000,10.250000,1992.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.00000,3.000000,37.500000,1203.000000,76001.00000,3.000000,NaN,3.000000,76892.000000,813.000000
max,20091.0,30.000000,12.000000,1993.000000,18.000000,NaN,NaN,NaN,NaN,NaN,...,2.00000,3.000000,99.000000,3805.000000,76001.00000,6.000000,NaN,7.000000,76892.000000,977.000000

In [56]:
print("File Shape", BD2009_2.shape)
print(shape_cols(BD2009_2))
BD2009_2.describe()

File Shape (20, 121)
Columns found:  81
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,ESTU_RAZON_RETIRO,ESTU_POR_AMIGOSESTUDIANDO,ESTU_POR_OTRARAZON,ESTU_PRESTIGIOINSTITUCION,ESTU_POR_UBICACION,ESTU_POR_UNICAQUEOFRECE,ESTU_VECES_ESTADO,ESTU_CARRDESEADA_RAZON,ESTU_COD_MCPIO_PRESENTACION,ESTU_PUESTO
count,20.0,19.000000,19.000000,19.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,3.0,18.000000,18.000000,18.000000,18.000000,18.000000,20.00000,0.0,20.000000,20.000000
mean,20092.0,14.421053,7.842105,1990.000000,18.450000,NaN,NaN,NaN,NaN,NaN,...,4.0,0.222222,0.222222,0.555556,0.555556,0.277778,0.15000,NaN,19134.850000,589.050000
std,0.0,7.805381,3.670652,4.737557,4.718106,NaN,NaN,NaN,NaN,NaN,...,1.0,0.427793,0.427793,0.511310,0.511310,0.460889,0.48936,NaN,17876.095445,303.710817
min,20092.0,2.000000,2.000000,1972.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,3.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,NaN,5001.000000,173.000000
25%,20092.0,10.500000,4.500000,1990.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,3.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,NaN,7422.250000,283.750000
50%,20092.0,12.000000,9.000000,1992.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,4.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.00000,NaN,11001.000000,668.500000
75%,20092.0,21.000000,11.500000,1992.000000,18.250000,NaN,NaN,NaN,NaN,NaN,...,4.5,0.000000,0.000000,1.000000,1.000000,0.750000,0.00000,NaN,25228.250000,863.000000
max,20092.0,29.000000,12.000000,1993.000000,37.000000,NaN,NaN,NaN,NaN,NaN,...,5.0,1.000000,1.000000,1.000000,1.000000,1.000000,2.00000,NaN,68307.000000,994.000000

In [24]:
BD2010_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20101-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2010_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20102-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [57]:
print("File Shape", BD2010_1.shape)
print(shape_cols(BD2010_1))
BD2010_1.describe()

File Shape (20, 79)
Columns found:  49
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,COLE_VALOR_PENSION,IND_ANNO_TERMINO_BACHILLERATO,IND_MES_TERMINO_BACHILLERATO,IND_TERMINO_BACHILLERATO,IND_COD_ICFES_TERMINO,COLE_COD_ICFES,COLE_BILINGUE,ESTU_VECES_ESTADO,ESTU_COD_MCPIO_PRESENTACION,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.00000,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.0,19.000000,0.0,20.000000,20.000000,15.000000,20.000000,20.000000,20.000000
mean,20101.0,15.900000,6.250000,1988.450000,20.70000,NaN,NaN,NaN,NaN,NaN,...,7.150000,2010.0,6.789474,NaN,87396.300000,98028.500000,0.600000,1.150000,42447.000000,321.400000
std,0.0,9.233235,3.160197,5.443248,5.40078,NaN,NaN,NaN,NaN,NaN,...,4.522168,0.0,1.618605,NaN,40625.878262,32818.784444,0.507093,0.988087,29309.331851,301.828184
min,20101.0,2.000000,1.000000,1970.000000,16.00000,NaN,NaN,NaN,NaN,NaN,...,0.000000,2010.0,6.000000,NaN,9110.000000,20974.000000,0.000000,0.000000,11001.000000,20.000000
25%,20101.0,5.000000,3.000000,1986.500000,17.00000,NaN,NaN,NaN,NaN,NaN,...,6.000000,2010.0,6.000000,NaN,58719.000000,82683.250000,0.000000,0.000000,11001.000000,93.500000
50%,20101.0,17.500000,7.000000,1990.000000,19.50000,NaN,NaN,NaN,NaN,NaN,...,8.000000,2010.0,6.000000,NaN,100990.000000,100990.000000,1.000000,1.000000,46827.000000,192.000000
75%,20101.0,23.250000,8.250000,1992.000000,22.50000,NaN,NaN,NaN,NaN,NaN,...,9.750000,2010.0,7.000000,NaN,119168.000000,120162.250000,1.000000,2.000000,63001.000000,507.000000
max,20101.0,30.000000,11.000000,1994.000000,39.00000,NaN,NaN,NaN,NaN,NaN,...,12.000000,2010.0,12.000000,NaN,146415.000000,146415.000000,1.000000,3.000000,95001.000000,977.000000

In [58]:
print("File Shape", BD2010_2.shape)
print(shape_cols(BD2010_2))
BD2010_2.describe()

File Shape (20, 114)
Columns found:  77
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,FAMI_LAVADORA,FAMI_NEVERA,FAMI_HORNO,FAMI_DVD,FAMI_MICROONDAS,FAMI_AUTOMOVIL,FAMI_INGRESO_FMILIAR_MENSUAL,ESTU_TRABAJA,ESTU_HORAS_TRABAJA,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,17.000000,1.0,20.000000
mean,20102.0,15.450000,7.700000,1992.350000,17.000000,NaN,NaN,NaN,NaN,NaN,...,0.700000,0.900000,0.35000,0.700000,0.400000,0.450000,2.750000,0.588235,20.0,354.450000
std,0.0,9.332879,3.130495,3.328901,3.228166,NaN,NaN,NaN,NaN,NaN,...,0.470162,0.307794,0.48936,0.470162,0.502625,0.510418,1.332785,1.804814,NaN,239.492111
min,20102.0,1.000000,2.000000,1979.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,20.0,15.000000
25%,20102.0,7.750000,5.750000,1992.750000,16.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,2.000000,0.000000,20.0,154.750000
50%,20102.0,16.500000,8.500000,1993.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.00000,1.000000,0.000000,0.000000,2.500000,0.000000,20.0,321.500000
75%,20102.0,23.500000,9.250000,1994.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,4.000000,0.000000,20.0,531.250000
max,20102.0,29.000000,12.000000,1994.000000,30.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,5.000000,7.000000,20.0,807.000000

In [25]:
BD2011_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20111-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2011_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20112-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [59]:
print("File Shape", BD2011_1.shape)
print(shape_cols(BD2011_1))
BD2011_1.describe()

File Shape (20, 114)
Columns found:  80
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,FAMI_LAVADORA,FAMI_NEVERA,FAMI_HORNO,FAMI_DVD,FAMI_MICROONDAS,FAMI_AUTOMOVIL,FAMI_INGRESO_FMILIAR_MENSUAL,ESTU_TRABAJA,ESTU_HORAS_TRABAJA,ESTU_PUESTO
count,20.0,19.000000,19.000000,19.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,19.000000,20.000000,19.000000,19.000000,19.000000,19.000000,19.000000,12.0,1.0,20.000000
mean,20111.0,15.578947,6.052632,1991.789474,18.500000,NaN,NaN,NaN,NaN,NaN,...,0.684211,0.950000,0.473684,0.631579,0.421053,0.210526,2.157895,0.0,20.0,553.050000
std,0.0,9.850639,3.978745,2.760414,2.564946,NaN,NaN,NaN,NaN,NaN,...,0.477567,0.223607,0.512989,0.495595,0.507257,0.418854,0.834210,0.0,NaN,295.635351
min,20111.0,3.000000,1.000000,1985.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,20.0,70.000000
25%,20111.0,5.000000,1.000000,1991.500000,17.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,20.0,336.250000
50%,20111.0,16.000000,7.000000,1992.000000,18.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.0,20.0,491.000000
75%,20111.0,24.000000,9.000000,1994.000000,19.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.000000,0.0,20.0,860.750000
max,20111.0,30.000000,12.000000,1995.000000,25.000000,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,0.0,20.0,972.000000

In [60]:
print("File Shape", BD2011_2.shape)
print(shape_cols(BD2011_2))
BD2011_2.describe()

File Shape (20, 114)
Columns found:  86
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,PUNT_LENGUAJE,PUNT_MATEMATICAS,PUNT_C_SOCIALES,PUNT_FILOSOFIA,PUNT_BIOLOGIA,PUNT_QUIMICA,PUNT_FISICA,PUNT_INGLES,PUNT_COMP_FLEXIBLE,ESTU_PUESTO
count,20.0,20.0000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000
mean,20112.0,13.3000,6.950000,1994.100000,16.400000,NaN,NaN,NaN,NaN,NaN,...,40.500000,47.750000,41.850000,37.650000,43.950000,45.950000,45.850000,41.80000,32.900000,549.900000
std,0.0,8.8799,3.762348,2.954034,2.998245,NaN,NaN,NaN,NaN,NaN,...,14.255193,11.092316,11.531536,12.235733,6.916609,10.374437,8.815507,6.41216,21.508627,319.756964
min,20112.0,2.0000,1.000000,1984.000000,10.000000,NaN,NaN,NaN,NaN,NaN,...,15.000000,31.000000,20.000000,8.000000,33.000000,37.000000,30.000000,30.00000,4.000000,11.000000
25%,20112.0,5.0000,3.000000,1994.000000,15.000000,NaN,NaN,NaN,NaN,NaN,...,34.500000,39.000000,35.250000,32.000000,38.000000,41.000000,42.500000,40.50000,5.750000,221.500000
50%,20112.0,14.5000,8.000000,1994.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,37.000000,47.000000,44.000000,38.500000,42.500000,44.000000,45.000000,43.00000,45.000000,596.500000
75%,20112.0,21.2500,10.000000,1995.000000,17.000000,NaN,NaN,NaN,NaN,NaN,...,49.000000,56.250000,47.250000,45.000000,48.000000,47.000000,51.000000,45.50000,49.000000,841.250000
max,20112.0,27.0000,12.000000,2001.000000,27.000000,NaN,NaN,NaN,NaN,NaN,...,77.000000,69.000000,64.000000,59.000000,58.000000,86.000000,65.000000,52.00000,63.000000,953.000000

In [26]:
BD2012_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20121-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2012_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20122-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [61]:
print("File Shape", BD2012_1.shape)
print(shape_cols(BD2012_1))
BD2012_1.describe()

File Shape (20, 114)
Columns found:  86
None

,PERIODO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_EDAD,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_MOTRIZ,...,PUNT_LENGUAJE,PUNT_MATEMATICAS,PUNT_C_SOCIALES,PUNT_FILOSOFIA,PUNT_BIOLOGIA,PUNT_QUIMICA,PUNT_FISICA,PUNT_INGLES,PUNT_COMP_FLEXIBLE,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.00000,20.000000,20.000000,20.000000,20.00000,20.000000,20.00000,20.000000,20.000000
mean,20121.0,16.650000,6.250000,1988.450000,22.700000,NaN,NaN,NaN,NaN,NaN,...,48.050000,42.70000,44.800000,38.650000,44.100000,42.30000,36.700000,37.65000,36.750000,664.000000
std,0.0,9.777929,3.611021,7.728791,7.630272,NaN,NaN,NaN,NaN,NaN,...,6.652859,7.01202,7.709188,5.984849,7.886698,6.73639,9.559234,10.39876,19.822568,204.621602
min,20121.0,2.000000,1.000000,1970.000000,16.000000,NaN,NaN,NaN,NaN,NaN,...,31.000000,33.00000,28.000000,29.000000,29.000000,33.00000,18.000000,26.00000,4.000000,212.000000
25%,20121.0,7.500000,3.000000,1986.750000,17.750000,NaN,NaN,NaN,NaN,NaN,...,46.000000,37.00000,39.500000,34.250000,40.000000,38.00000,32.000000,31.00000,25.500000,536.000000
50%,20121.0,19.000000,6.500000,1991.500000,20.000000,NaN,NaN,NaN,NaN,NaN,...,48.000000,42.00000,49.000000,39.000000,45.000000,40.50000,36.000000,33.00000,46.000000,667.500000
75%,20121.0,22.750000,10.000000,1994.000000,24.250000,NaN,NaN,NaN,NaN,NaN,...,52.000000,47.50000,50.250000,43.000000,47.250000,45.75000,42.250000,40.00000,52.000000,799.750000
max,20121.0,30.000000,12.000000,1995.000000,41.000000,NaN,NaN,NaN,NaN,NaN,...,59.000000,54.00000,56.000000,48.000000,63.000000,57.00000,60.000000,68.00000,58.000000,989.000000

In [62]:
print("File Shape", BD2012_2.shape)
print(shape_cols(BD2012_2))
BD2012_2.describe()

File Shape (20, 114)
Columns found:  86
None

,PERIODO,ESTU_EDAD,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_ETNIA,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,...,PUNT_LENGUAJE,PUNT_MATEMATICAS,PUNT_C_SOCIALES,PUNT_FILOSOFIA,PUNT_BIOLOGIA,PUNT_QUIMICA,PUNT_FISICA,PUNT_INGLES,PUNT_COMP_FLEXIBLE,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.00000,3.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20122.0,18.850000,16.550000,6.200000,1992.75000,99.0,NaN,NaN,NaN,NaN,...,43.350000,38.700000,40.450000,37.250000,43.050000,43.050000,43.250000,40.050000,32.200000,678.950000
std,0.0,5.402485,9.572301,3.518373,5.41805,0.0,NaN,NaN,NaN,NaN,...,6.098102,12.994331,7.803339,7.566373,7.528717,4.989199,5.811739,9.190813,23.093859,265.814236
min,20122.0,15.000000,2.000000,1.000000,1975.00000,99.0,NaN,NaN,NaN,NaN,...,33.000000,17.000000,29.000000,25.000000,23.000000,35.000000,27.000000,24.000000,5.000000,89.000000
25%,20122.0,16.000000,9.750000,4.000000,1994.00000,99.0,NaN,NaN,NaN,NaN,...,39.500000,29.750000,35.250000,32.000000,40.750000,40.000000,40.000000,37.750000,5.000000,535.750000
50%,20122.0,17.000000,19.000000,6.000000,1994.50000,99.0,NaN,NaN,NaN,NaN,...,42.000000,43.500000,42.000000,37.500000,43.000000,43.000000,44.000000,39.000000,47.500000,762.500000
75%,20122.0,18.000000,24.000000,8.250000,1995.00000,99.0,NaN,NaN,NaN,NaN,...,47.000000,46.750000,44.000000,40.500000,47.250000,46.250000,46.000000,43.500000,52.250000,883.750000
max,20122.0,36.000000,31.000000,12.000000,1996.00000,99.0,NaN,NaN,NaN,NaN,...,56.000000,58.000000,60.000000,53.000000,58.000000,53.000000,52.000000,59.000000,55.000000,972.000000

In [27]:
BD2013_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20131-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2013_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20132-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [63]:
print("File Shape", BD2013_1.shape)
print(shape_cols(BD2013_1))
BD2013_1.describe()

File Shape (20, 113)
Columns found:  88
None

,PERIODO,ESTU_EDAD,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_ETNIA,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,...,PUNT_LENGUAJE,PUNT_MATEMATICAS,PUNT_C_SOCIALES,PUNT_FILOSOFIA,PUNT_BIOLOGIA,PUNT_QUIMICA,PUNT_FISICA,PUNT_INGLES,PUNT_COMP_FLEXIBLE,ESTU_PUESTO
count,20.0,20.000000,20.000000,20.000000,20.000000,1.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20131.0,18.400000,15.500000,6.150000,1993.800000,1.0,NaN,NaN,NaN,NaN,...,50.500000,45.250000,45.150000,41.600000,46.550000,44.850000,44.250000,44.550000,23.200000,490.050000
std,0.0,3.830625,10.007892,3.587625,3.860733,NaN,NaN,NaN,NaN,NaN,...,11.019122,9.808026,6.555632,10.723314,5.862234,7.278483,8.005755,8.287435,21.363028,255.079858
min,20131.0,16.000000,1.000000,1.000000,1985.000000,1.0,NaN,NaN,NaN,NaN,...,27.000000,22.000000,31.000000,19.000000,28.000000,34.000000,28.000000,26.000000,4.000000,138.000000
25%,20131.0,16.000000,6.000000,3.750000,1993.000000,1.0,NaN,NaN,NaN,NaN,...,46.000000,38.750000,41.000000,33.000000,44.000000,39.000000,39.000000,40.000000,5.000000,286.500000
50%,20131.0,16.500000,18.000000,6.500000,1996.000000,1.0,NaN,NaN,NaN,NaN,...,49.500000,48.000000,46.000000,40.500000,47.000000,45.000000,43.500000,43.000000,5.500000,472.500000
75%,20131.0,19.000000,23.250000,8.250000,1996.000000,1.0,NaN,NaN,NaN,NaN,...,58.000000,54.000000,49.250000,53.000000,50.000000,47.500000,50.000000,48.500000,45.250000,603.500000
max,20131.0,27.000000,30.000000,12.000000,1997.000000,1.0,NaN,NaN,NaN,NaN,...,73.000000,57.000000,57.000000,55.000000,54.000000,62.000000,60.000000,65.000000,54.000000,972.000000

In [64]:
print("File Shape", BD2013_2.shape)
print(shape_cols(BD2013_2))
BD2013_2.describe()

File Shape (20, 113)
Columns found:  85
None

,PERIODO,ESTU_EDAD,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_ETNIA,ESTU_LIMITA_BAJAVISION,ESTU_LIMITA_SORDOCEGUERA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_INVIDENTE,...,PUNT_LENGUAJE,PUNT_MATEMATICAS,PUNT_C_SOCIALES,PUNT_FILOSOFIA,PUNT_BIOLOGIA,PUNT_QUIMICA,PUNT_FISICA,PUNT_INGLES,PUNT_COMP_FLEXIBLE,ESTU_PUESTO
count,20.0,20.000000,19.000000,19.000000,19.000000,1.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20132.0,21.750000,16.105263,5.578947,1990.368421,99.0,NaN,NaN,NaN,NaN,...,43.350000,44.950000,41.800000,36.400000,41.100000,38.000000,40.850000,40.750000,26.100000,629.600000
std,0.0,6.273377,7.370321,3.516877,6.352694,NaN,NaN,NaN,NaN,NaN,...,7.110222,8.357001,5.454115,8.696037,7.362065,10.177374,9.432726,8.372103,19.229637,281.751738
min,20132.0,15.000000,3.000000,1.000000,1977.000000,99.0,NaN,NaN,NaN,NaN,...,27.000000,23.000000,31.000000,20.000000,27.000000,16.000000,26.000000,17.000000,4.000000,87.000000
25%,20132.0,17.000000,11.500000,2.500000,1984.500000,99.0,NaN,NaN,NaN,NaN,...,39.500000,41.000000,37.000000,30.250000,37.000000,34.000000,33.750000,39.750000,5.000000,445.250000
50%,20132.0,19.000000,17.000000,6.000000,1993.000000,99.0,NaN,NaN,NaN,NaN,...,42.500000,44.000000,43.500000,40.000000,41.000000,37.500000,40.500000,42.500000,32.000000,655.000000
75%,20132.0,27.250000,21.000000,8.000000,1996.000000,99.0,NaN,NaN,NaN,NaN,...,48.000000,50.250000,46.000000,43.250000,45.000000,46.250000,50.000000,45.000000,42.000000,849.500000
max,20132.0,35.000000,27.000000,12.000000,1997.000000,99.0,NaN,NaN,NaN,NaN,...,58.000000,57.000000,51.000000,49.000000,62.000000,54.000000,55.000000,54.000000,52.000000,983.000000

In [67]:
BD2014_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20141-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)
BD2014_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20142-RGSTRO-CLFCCN-V3-0utf8.txt", delimiter="|", nrows = 20)

In [68]:
print("File Shape", BD2014_1.shape)
print(shape_cols(BD2014_1))
BD2014_1.describe()

File Shape (20, 102)
Columns found:  78
None

,PERIODO,ESTU_ETNIA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_COD_RESIDE_MCPIO,ESTU_ZONA_RESIDE,ESTU_AREA_RESIDE,COLE_COD_ICFES,COLE_COD_DANE_INSTITUCION,...,ESTU_PUESTO,PUNT_LENGUAJE,PUNT_MATEMATICAS,PUNT_C_SOCIALES,PUNT_FILOSOFIA,PUNT_BIOLOGIA,PUNT_QUIMICA,PUNT_FISICA,PUNT_INGLES,PUNT_COMP_FLEXIBLE
count,20.0,6.000000,0.0,0.0,0.0,20.000000,20.00000,3.0,20.000000,2.000000e+01,...,20.000000,20.00000,20.0000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20141.0,33.666667,NaN,NaN,NaN,55607.600000,4.75000,1.0,130465.300000,3.449061e+11,...,511.650000,49.75000,45.8000,45.250000,38.450000,42.100000,42.500000,37.400000,42.400000,34.850000
std,0.0,50.606982,NaN,NaN,NaN,32181.595375,3.12671,0.0,542.732473,5.552485e+10,...,222.894659,5.41805,6.9857,7.979414,9.986702,5.693024,5.394929,7.228598,9.405486,22.755624
min,20141.0,1.000000,NaN,NaN,NaN,5001.000000,1.00000,1.0,130120.000000,2.053800e+11,...,199.000000,36.00000,32.0000,30.000000,9.000000,30.000000,33.000000,23.000000,26.000000,4.000000
25%,20141.0,1.000000,NaN,NaN,NaN,18512.000000,2.00000,1.0,130120.000000,3.058370e+11,...,375.000000,47.00000,43.0000,38.000000,35.000000,39.000000,39.250000,35.000000,37.500000,5.000000
50%,20141.0,1.000000,NaN,NaN,NaN,76001.000000,4.00000,1.0,130120.000000,3.760010e+11,...,418.000000,51.00000,47.5000,47.000000,40.000000,43.000000,42.000000,38.000000,41.000000,50.000000
75%,20141.0,74.500000,NaN,NaN,NaN,76001.000000,6.00000,1.0,131219.000000,3.760010e+11,...,617.750000,53.50000,51.0000,50.500000,46.000000,47.000000,45.500000,41.000000,45.500000,52.000000
max,20141.0,99.000000,NaN,NaN,NaN,76001.000000,10.00000,1.0,131375.000000,3.760010e+11,...,928.000000,57.00000,56.0000,61.000000,53.000000,50.000000,55.000000,51.000000,71.000000,55.000000

In [70]:
print("File Shape", BD2014_2.shape)
print(shape_cols(BD2014_2))
BD2014_2.describe()

File Shape (20, 136)
Columns found:  68
None

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_CONDICIONESPECIAL,ESTU_LIMITA_SORDO,ESTU_LIMITA_SDOWN,ESTU_LIMITA_AUTISMO,...,ESTU_COD_MCPIO_PRESENTACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_RAZONA_CUANT,PUNT_COMP_CIUDADANA,PUNT_GLOBAL,ESTU_PUESTO
count,20.0,20.000000,20.0,20.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20142.0,18.600000,1.0,82.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,37775.000000,50.300000,50.450000,49.350000,50.500000,49.900000,51.550000,51.200000,250.750000,487.800000
std,0.0,4.172592,0.0,37.165349,NaN,NaN,NaN,NaN,NaN,NaN,...,28670.297331,10.707105,6.939399,7.336104,10.374564,6.592659,7.493682,9.523378,37.594617,289.737377
min,20142.0,16.000000,1.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,5001.000000,33.000000,39.000000,35.000000,35.000000,39.000000,42.000000,34.000000,192.000000,92.000000
25%,20142.0,17.000000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,10285.000000,41.000000,47.000000,43.500000,44.000000,46.500000,45.500000,44.750000,214.750000,228.250000
50%,20142.0,18.000000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,41180.000000,48.000000,50.000000,49.500000,53.000000,49.500000,50.000000,52.000000,247.000000,493.000000
75%,20142.0,18.250000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,68561.000000,60.500000,55.250000,56.000000,55.250000,53.000000,54.250000,56.000000,279.750000,790.000000
max,20142.0,35.000000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,76606.000000,72.000000,66.000000,62.000000,75.000000,68.000000,67.000000,71.000000,310.000000,937.000000

In [30]:
BD2015_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20151-RGSTRO-CLFCCN-V3-0utf8.txt", delimiter="|", nrows = 20)
BD2015_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20152-RGSTRO-CLFCCN-V3-0utf8.txt", delimiter="|", nrows = 20)

In [71]:
print("File Shape", BD2015_1.shape)
print(shape_cols(BD2015_1))
BD2015_1.describe()

File Shape (20, 128)
Columns found:  88
None

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_CONDICIONESPECIAL,ESTU_LIMITA_SORDO,ESTU_LIMITA_SDOWN,ESTU_LIMITA_AUTISMO,...,ESTU_COD_PLANTEL,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_RAZONA_CUANT,PUNT_COMP_CIUDADANA,PUNT_GLOBAL,ESTU_PUESTO
count,20.0,20.000000,20.0,18.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,10.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000
mean,20151.0,27.000000,1.0,89.444444,NaN,NaN,NaN,NaN,NaN,NaN,...,4358.800000,52.850000,54.650000,52.600000,56.400000,54.750000,56.40000,52.250000,270.950000,502.100000
std,0.0,5.505978,0.0,30.751800,NaN,NaN,NaN,NaN,NaN,NaN,...,4901.873719,8.951771,14.287554,11.324868,13.581721,14.689327,14.02404,13.668539,53.587582,251.705112
min,20151.0,20.000000,1.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,37.000000,38.000000,32.000000,31.000000,41.000000,36.00000,28.000000,190.000000,186.000000
25%,20151.0,23.750000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,314.500000,45.500000,42.000000,43.250000,44.500000,44.500000,45.75000,43.500000,216.250000,286.750000
50%,20151.0,25.000000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,3564.500000,54.000000,50.000000,54.500000,59.500000,49.000000,55.50000,54.000000,281.000000,427.500000
75%,20151.0,28.500000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,5850.750000,59.500000,66.500000,62.000000,66.250000,60.250000,70.00000,63.000000,317.000000,761.250000
max,20151.0,41.000000,1.0,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,15278.000000,65.000000,83.000000,69.000000,78.000000,95.000000,77.00000,70.000000,345.000000,906.000000

In [72]:
print("File Shape", BD2015_2.shape)
print(shape_cols(BD2015_2))
BD2015_2.describe()

File Shape (20, 86)
Columns found:  45
None

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_CONDICIONESPECIAL,ESTU_LIMITA_SORDO,ESTU_LIMITA_SDOWN,ESTU_LIMITA_AUTISMO,...,ESTU_COD_MCPIO_PRESENTACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_RAZONA_CUANT,PUNT_COMP_CIUDADANA,PUNT_GLOBAL,ESTU_PUESTO
count,20.0,20.000000,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20152.0,17.100000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17906.550000,53.70000,56.85000,54.450000,56.800000,56.450000,58.100000,56.400000,277.600000,324.600000
std,0.0,1.293709,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26191.883069,8.79653,12.90155,8.363297,10.364921,14.054312,13.419938,8.987711,45.243668,247.227234
min,20152.0,16.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5001.000000,37.00000,32.00000,38.000000,39.000000,41.000000,39.000000,44.000000,200.000000,11.000000
25%,20152.0,16.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5001.000000,49.50000,50.00000,48.750000,47.750000,45.500000,52.500000,48.000000,247.750000,131.500000
50%,20152.0,17.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5001.000000,53.50000,55.00000,53.500000,58.500000,51.000000,56.000000,56.500000,271.000000,294.000000
75%,20152.0,17.250000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6590.250000,58.75000,63.50000,59.000000,63.250000,66.250000,62.250000,62.500000,302.500000,477.250000
max,20152.0,20.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85001.000000,76.00000,82.00000,70.000000,76.000000,80.000000,84.000000,71.000000,379.000000,862.000000

In [32]:
BD2016_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20161-RGSTRO-CLFCCN-V1-0.txt", delimiter="|", nrows = 20)
BD2016_1_v3 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20161-RGSTRO-CLFCCN-V3-0utf8.txt", delimiter="|", nrows = 20)
BD2016_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20162-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [73]:
print("File Shape", BD2016_1.shape)
print(shape_cols(BD2016_1))
BD2016_1.describe()

File Shape (20, 64)
Columns found:  42
None

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,ESTU_LIMITA_COGNITIVA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_CONDICIONESPECIAL,ESTU_LIMITA_SORDO,ESTU_LIMITA_SDOWN,...,FAMI_PISOSHOGAR,FAMI_INGRESO_FMILIAR_MENSUAL,ESTU_TRABAJA,ESTU_RECIBE_SALARIO,ESTU_VECES_ESTADO_ESTUDIANTIL,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES
count,20.0,20.000000,20.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.00000,20.000000,0.0,0.0,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000
mean,20161.0,27.350000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.65000,2.400000,NaN,NaN,2.850000,57.950000,57.150000,54.55000,61.050000,59.150000
std,0.0,5.833434,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.03999,0.940325,NaN,NaN,1.136708,11.385471,13.128013,9.64897,12.709197,15.775647
min,20161.0,15.000000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.00000,1.000000,NaN,NaN,1.000000,39.000000,35.000000,36.00000,37.000000,39.000000
25%,20161.0,24.750000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.00000,2.000000,NaN,NaN,2.000000,50.500000,46.750000,48.50000,52.250000,51.000000
50%,20161.0,25.500000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.00000,2.000000,NaN,NaN,3.000000,56.000000,57.000000,55.50000,63.000000,54.000000
75%,20161.0,32.250000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.00000,3.000000,NaN,NaN,4.000000,66.000000,63.250000,61.00000,69.500000,59.000000
max,20161.0,38.000000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.00000,5.000000,NaN,NaN,4.000000,85.000000,91.000000,72.00000,80.000000,100.000000

In [74]:
print("File Shape", BD2016_1_v3.shape)
print(shape_cols(BD2016_1_v3))
BD2016_1_v3.describe()

File Shape (20, 83)
Columns found:  59
None

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_CONDICIONESPECIAL,ESTU_LIMITA_SORDO,ESTU_LIMITA_SDOWN,ESTU_LIMITA_AUTISMO,...,PUNT_C_NATURALES,DESEMP_C_NATURALES,PERCENTIL_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL
count,20.0,20.000000,20.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.00000
mean,20161.0,27.350000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,54.55000,2.450000,38.350000,61.050000,2.850000,55.050000,59.150000,41.350000,289.00000,45.20000
std,0.0,5.833434,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.64897,0.759155,22.841041,12.709197,0.875094,28.848926,15.775647,24.868655,47.80883,23.19165
min,20161.0,15.000000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,36.00000,1.000000,3.000000,37.000000,1.000000,6.000000,39.000000,1.000000,217.00000,11.00000
25%,20161.0,24.750000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,48.50000,2.000000,21.000000,52.250000,2.000000,32.250000,51.000000,28.000000,249.00000,24.75000
50%,20161.0,25.500000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,55.50000,2.500000,39.500000,63.000000,3.000000,60.000000,54.000000,38.000000,278.50000,40.50000
75%,20161.0,32.250000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,61.00000,3.000000,55.000000,69.500000,3.250000,76.250000,59.000000,45.750000,323.50000,63.25000
max,20161.0,38.000000,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,72.00000,4.000000,81.000000,80.000000,4.000000,95.000000,100.000000,100.000000,387.00000,90.00000

In [75]:
print("File Shape", BD2016_2.shape)
print(shape_cols(BD2016_2))
BD2016_2.describe()

File Shape (20, 81)
Columns found:  52
None

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,ESTU_LIMITA_MOTRIZ,ESTU_LIMITA_INVIDENTE,ESTU_LIMITA_CONDICIONESPECIAL,ESTU_LIMITA_SORDO,ESTU_LIMITA_SDOWN,ESTU_LIMITA_AUTISMO,...,PUNT_C_NATURALES,PERCENTIL_C_NATURALES,DESEMP_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL
count,20.0,20.000000,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,20162.0,18.200000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.550000,55.500000,2.350000,50.450000,55.350000,2.150000,51.950000,58.300000,260.800000,57.900000
std,0.0,3.172248,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.928565,35.512044,0.875094,16.690606,33.253848,0.812728,20.684281,31.609625,80.911648,34.435141
min,20162.0,16.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,20162.0,16.750000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.750000,22.000000,2.000000,43.000000,26.250000,1.750000,48.000000,40.000000,228.750000,30.500000
50%,20162.0,17.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.500000,63.000000,2.500000,54.000000,60.500000,2.000000,53.500000,59.000000,283.500000,70.500000
75%,20162.0,18.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.000000,85.000000,3.000000,61.500000,84.250000,3.000000,64.250000,85.500000,313.500000,87.250000
max,20162.0,28.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75.000000,100.000000,4.000000,70.000000,97.000000,3.000000,82.000000,100.000000,350.000000,98.000000

In [35]:
BD2017_1 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20171-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|", nrows = 20)

In [76]:
print("File Shape", BD2017_1.shape)
print(shape_cols(BD2017_1))
BD2017_1.describe()

File Shape (20, 80)
Columns found:  31
None

,PERIODO,ESTU_ETNIA,ESTU_COD_RESIDE_DEPTO,ESTU_COD_RESIDE_MCPIO,FAMI_CUARTOSHOGAR,COLE_COD_DANE_ESTABLECIMIENTO,COLE_CODIGO_ICFES,COLE_COD_DANE_SEDE,COLE_COD_MCPIO_UBICACION,COLE_COD_DEPTO_UBICACION,...,PUNT_LECTURA_CRITICA,DESEMP_LECTURA_CRITICA,PERCENTIL_LECTURA_CRITICA,DESEMP_SOCIALES_CIUDADANAS,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,PUNT_GLOBAL,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO
count,20.0,0.0,20.000000,20.000000,17.000000,2.000000e+01,20.000000,2.000000e+01,20.000000,20.000000,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,17.000000,20.000000
mean,20171.0,NaN,55.250000,55268.400000,3.176471,3.753971e+11,84555.050000,3.753971e+11,55320.300000,55.250000,...,60.400000,3.200000,57.450000,2.750000,59.500000,57.800000,304.050000,59.200000,65.486096,3.750000
std,0.0,NaN,29.224854,29205.938921,1.014599,4.838198e+10,143187.657779,4.838198e+10,29245.131151,29.224854,...,10.353743,0.695852,27.404331,0.910465,13.457536,28.367142,60.770903,28.448661,6.991689,0.444262
min,20171.0,NaN,11.000000,11001.000000,1.000000,3.117690e+11,16741.000000,3.117690e+11,11001.000000,11.000000,...,43.000000,2.000000,12.000000,1.000000,28.000000,1.000000,177.000000,4.000000,48.693052,3.000000
25%,20171.0,NaN,23.500000,23631.500000,3.000000,3.617510e+11,16741.000000,3.617510e+11,23631.500000,23.500000,...,54.000000,3.000000,38.750000,2.000000,54.000000,42.750000,269.500000,41.750000,65.899503,3.750000
50%,20171.0,NaN,76.000000,76001.000000,3.000000,3.760010e+11,40769.500000,3.760010e+11,76001.000000,76.000000,...,60.500000,3.000000,58.500000,3.000000,58.000000,52.500000,305.500000,60.000000,67.824554,4.000000
75%,20171.0,NaN,76.000000,76001.000000,4.000000,3.760010e+11,101044.500000,3.760010e+11,76001.000000,76.000000,...,67.250000,4.000000,79.000000,3.000000,69.250000,83.500000,359.000000,87.250000,68.912765,4.000000
max,20171.0,NaN,76.000000,76001.000000,5.000000,4.765200e+11,663120.000000,4.765200e+11,76520.000000,76.000000,...,80.000000,4.000000,99.000000,4.000000,83.000000,100.000000,390.000000,97.000000,73.883939,4.000000